body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1200px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u80871_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:810px;
  background:inherit;
  background-color:rgba(51, 53, 63, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u80871 {
  position:absolute;
  left:0px;
  top:9px;
  width:71px;
  height:810px;
}
#u80872 {
  position:absolute;
  left:2px;
  top:397px;
  width:67px;
  visibility:hidden;
  word-wrap:break-word;
}
#u80873_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:50px;
}
#u80873 {
  position:absolute;
  left:0px;
  top:9px;
  width:71px;
  height:50px;
}
#u80874 {
  position:absolute;
  left:2px;
  top:17px;
  width:67px;
  visibility:hidden;
  word-wrap:break-word;
}
#u80875_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:10px;
}
#u80875 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:10px;
  color:#333333;
}
#u80876 {
  position:absolute;
  left:2px;
  top:-3px;
  width:67px;
  visibility:hidden;
  word-wrap:break-word;
}
#u80877_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:27px;
}
#u80877 {
  position:absolute;
  left:21px;
  top:505px;
  width:27px;
  height:27px;
}
#u80878 {
  position:absolute;
  left:2px;
  top:6px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u80879_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:27px;
}
#u80879 {
  position:absolute;
  left:21px;
  top:119px;
  width:27px;
  height:27px;
}
#u80880 {
  position:absolute;
  left:2px;
  top:6px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u80881_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:27px;
}
#u80881 {
  position:absolute;
  left:21px;
  top:167px;
  width:27px;
  height:27px;
}
#u80882 {
  position:absolute;
  left:2px;
  top:6px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u80883_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:27px;
}
#u80883 {
  position:absolute;
  left:21px;
  top:357px;
  width:27px;
  height:27px;
}
#u80884 {
  position:absolute;
  left:2px;
  top:6px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u80885_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:27px;
}
#u80885 {
  position:absolute;
  left:21px;
  top:607px;
  width:27px;
  height:27px;
}
#u80886 {
  position:absolute;
  left:2px;
  top:6px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u80887_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:27px;
}
#u80887 {
  position:absolute;
  left:19px;
  top:556px;
  width:27px;
  height:27px;
}
#u80888 {
  position:absolute;
  left:2px;
  top:6px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u80889_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:27px;
}
#u80889 {
  position:absolute;
  left:22px;
  top:70px;
  width:27px;
  height:27px;
}
#u80890 {
  position:absolute;
  left:2px;
  top:6px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u80891_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:27px;
}
#u80891 {
  position:absolute;
  left:20px;
  top:702px;
  width:27px;
  height:27px;
}
#u80892 {
  position:absolute;
  left:2px;
  top:6px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u80893_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:27px;
}
#u80893 {
  position:absolute;
  left:21px;
  top:308px;
  width:27px;
  height:27px;
}
#u80894 {
  position:absolute;
  left:2px;
  top:6px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u80895_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:27px;
}
#u80895 {
  position:absolute;
  left:22px;
  top:214px;
  width:27px;
  height:27px;
}
#u80896 {
  position:absolute;
  left:2px;
  top:6px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u80897_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:27px;
}
#u80897 {
  position:absolute;
  left:21px;
  top:461px;
  width:27px;
  height:27px;
}
#u80898 {
  position:absolute;
  left:2px;
  top:6px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u80899_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:27px;
}
#u80899 {
  position:absolute;
  left:21px;
  top:408px;
  width:27px;
  height:27px;
}
#u80900 {
  position:absolute;
  left:2px;
  top:6px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u80901_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:27px;
}
#u80901 {
  position:absolute;
  left:21px;
  top:260px;
  width:27px;
  height:27px;
}
#u80902 {
  position:absolute;
  left:2px;
  top:6px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u80903_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:27px;
}
#u80903 {
  position:absolute;
  left:22px;
  top:22px;
  width:27px;
  height:27px;
}
#u80904 {
  position:absolute;
  left:2px;
  top:6px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u80905_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:27px;
}
#u80905 {
  position:absolute;
  left:21px;
  top:656px;
  width:27px;
  height:27px;
}
#u80906 {
  position:absolute;
  left:2px;
  top:6px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u80907_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:27px;
}
#u80907 {
  position:absolute;
  left:22px;
  top:750px;
  width:27px;
  height:27px;
}
#u80908 {
  position:absolute;
  left:2px;
  top:6px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u80910_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1015px;
  height:10px;
}
#u80910 {
  position:absolute;
  left:185px;
  top:61px;
  width:1015px;
  height:10px;
  color:#333333;
}
#u80911 {
  position:absolute;
  left:2px;
  top:-3px;
  width:1011px;
  visibility:hidden;
  word-wrap:break-word;
}
#u80912_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1015px;
  height:71px;
  background:inherit;
  background-color:rgba(238, 238, 238, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u80912 {
  position:absolute;
  left:185px;
  top:0px;
  width:1015px;
  height:71px;
}
#u80913 {
  position:absolute;
  left:2px;
  top:28px;
  width:1011px;
  visibility:hidden;
  word-wrap:break-word;
}
#u80914_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1129px;
  height:62px;
  background:inherit;
  background-color:rgba(232, 232, 232, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u80914 {
  position:absolute;
  left:71px;
  top:0px;
  width:1129px;
  height:62px;
}
#u80915 {
  position:absolute;
  left:2px;
  top:23px;
  width:1125px;
  visibility:hidden;
  word-wrap:break-word;
}
#u80916 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u80917_div {
  position:absolute;
  left:0px;
  top:0px;
  width:354px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:0px 1px 3px -2px rgba(0, 0, 0, 0.349019607843137) inset;
  -webkit-box-shadow:0px 1px 3px -2px rgba(0, 0, 0, 0.349019607843137) inset;
  box-shadow:0px 1px 3px -2px rgba(0, 0, 0, 0.349019607843137) inset;
}
#u80917 {
  position:absolute;
  left:328px;
  top:5px;
  width:354px;
  height:25px;
}
#u80917_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:354px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(102, 175, 233, 1);
  border-radius:0px;
  -moz-box-shadow:0px 0px 6px rgba(102, 175, 233, 0.6), 0px 1px 3px -2px rgba(0, 0, 0, 0.349019607843137) inset;
  -webkit-box-shadow:0px 0px 6px rgba(102, 175, 233, 0.6), 0px 1px 3px -2px rgba(0, 0, 0, 0.349019607843137) inset;
  box-shadow:0px 0px 6px rgba(102, 175, 233, 0.6), 0px 1px 3px -2px rgba(0, 0, 0, 0.349019607843137) inset;
}
#u80917.selected {
}
#u80918 {
  position:absolute;
  left:2px;
  top:4px;
  width:350px;
  visibility:hidden;
  word-wrap:break-word;
}
#u80919 {
  position:absolute;
  left:359px;
  top:6px;
  width:311px;
  height:24px;
}
#u80919_input {
  position:absolute;
  left:0px;
  top:0px;
  width:311px;
  height:24px;
  background-color:transparent;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u80919_input {
  font-family:'FontAwesome';
}
#u80920_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u80920 {
  position:absolute;
  left:336px;
  top:8px;
  width:18px;
  height:18px;
}
#u80921 {
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u80922_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:63px;
}
#u80922 {
  position:absolute;
  left:951px;
  top:0px;
  width:180px;
  height:63px;
}
#u80923 {
  position:absolute;
  left:2px;
  top:24px;
  width:176px;
  visibility:hidden;
  word-wrap:break-word;
}
#u80924_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u80924 {
  position:absolute;
  left:821px;
  top:4px;
  width:30px;
  height:30px;
}
#u80925 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u80926_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:33px;
}
#u80926 {
  position:absolute;
  left:877px;
  top:3px;
  width:33px;
  height:33px;
}
#u80927 {
  position:absolute;
  left:2px;
  top:8px;
  width:29px;
  visibility:hidden;
  word-wrap:break-word;
}
#u80928_img {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:35px;
}
#u80928 {
  position:absolute;
  left:71px;
  top:35px;
  width:203px;
  height:35px;
}
#u80929 {
  position:absolute;
  left:2px;
  top:10px;
  width:199px;
  visibility:hidden;
  word-wrap:break-word;
}
#u80930_img {
  position:absolute;
  left:0px;
  top:0px;
  width:929px;
  height:28px;
}
#u80930 {
  position:absolute;
  left:271px;
  top:35px;
  width:929px;
  height:28px;
}
#u80931 {
  position:absolute;
  left:2px;
  top:6px;
  width:925px;
  visibility:hidden;
  word-wrap:break-word;
}
#u80932_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1129px;
  height:10px;
}
#u80932 {
  position:absolute;
  left:71px;
  top:61px;
  width:1129px;
  height:10px;
  color:#333333;
}
#u80933 {
  position:absolute;
  left:2px;
  top:-3px;
  width:1125px;
  visibility:hidden;
  word-wrap:break-word;
}
#u80934_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:44px;
}
#u80934 {
  position:absolute;
  left:1067px;
  top:9px;
  width:44px;
  height:44px;
}
#u80935 {
  position:absolute;
  left:2px;
  top:14px;
  width:40px;
  visibility:hidden;
  word-wrap:break-word;
}
#u80936_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'HiraginoSansGB-W3', '冬青黑体简体中文 W3', '冬青黑体简体中文';
  font-weight:300;
  font-style:normal;
  font-size:14px;
  text-align:right;
}
#u80936 {
  position:absolute;
  left:984px;
  top:10px;
  width:57px;
  height:42px;
  font-family:'HiraginoSansGB-W3', '冬青黑体简体中文 W3', '冬青黑体简体中文';
  font-weight:300;
  font-style:normal;
  font-size:14px;
  text-align:right;
}
#u80937 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u80938_div {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:21px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#00CCCC;
  text-align:left;
}
#u80938 {
  position:absolute;
  left:147px;
  top:41px;
  width:102px;
  height:21px;
  color:#00CCCC;
  text-align:left;
}
#u80939 {
  position:absolute;
  left:2px;
  top:3px;
  width:98px;
  word-wrap:break-word;
}
#u80940_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1129px;
  height:756px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(229, 229, 229, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'HiraginoSansGB-W3', '冬青黑体简体中文 W3', '冬青黑体简体中文';
  font-weight:300;
  font-style:normal;
  text-align:left;
}
#u80940 {
  position:absolute;
  left:71px;
  top:63px;
  width:1129px;
  height:756px;
  font-family:'HiraginoSansGB-W3', '冬青黑体简体中文 W3', '冬青黑体简体中文';
  font-weight:300;
  font-style:normal;
  text-align:left;
}
#u80941 {
  position:absolute;
  left:15px;
  top:15px;
  width:1099px;
  visibility:hidden;
  word-wrap:break-word;
}
#u80942_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1083px;
  height:433px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u80942 {
  position:absolute;
  left:98px;
  top:327px;
  width:1083px;
  height:433px;
}
#u80943 {
  position:absolute;
  left:2px;
  top:208px;
  width:1079px;
  visibility:hidden;
  word-wrap:break-word;
}
#u80944_div {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u80944 {
  position:absolute;
  left:124px;
  top:185px;
  width:190px;
  height:25px;
  font-size:16px;
  text-align:left;
}
#u80945 {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  word-wrap:break-word;
}
#u80944_ann {
  position:absolute;
  left:307px;
  top:181px;
  width:1px;
  height:1px;
}
#u80946_div {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'HiraginoSansGB-W3', 'Hiragino Sans GB W3', 'Hiragino Sans GB';
  font-weight:300;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u80946 {
  position:absolute;
  left:799px;
  top:223px;
  width:190px;
  height:25px;
  font-family:'HiraginoSansGB-W3', 'Hiragino Sans GB W3', 'Hiragino Sans GB';
  font-weight:300;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u80947 {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  word-wrap:break-word;
}
#u80948 {
  position:absolute;
  left:876px;
  top:223px;
  width:189px;
  height:22px;
}
#u80948_input {
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:22px;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u80948_input {
  font-family:'FontAwesome';
}
#u80948_input:disabled {
  color:grayText;
}
#u80949_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1127px;
  height:81px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u80949 {
  position:absolute;
  left:73px;
  top:72px;
  width:1127px;
  height:81px;
}
#u80950 {
  position:absolute;
  left:2px;
  top:32px;
  width:1123px;
  visibility:hidden;
  word-wrap:break-word;
}
#u80951_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u80951 {
  position:absolute;
  left:98px;
  top:95px;
  width:97px;
  height:33px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u80952 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u80953_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1130px;
  height:2px;
}
#u80953 {
  position:absolute;
  left:71px;
  top:308px;
  width:1129px;
  height:1px;
}
#u80954 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1125px;
  visibility:hidden;
  word-wrap:break-word;
}
#u80955_div {
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u80955 {
  position:absolute;
  left:425px;
  top:185px;
  width:248px;
  height:25px;
  font-size:16px;
  text-align:left;
}
#u80956 {
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  word-wrap:break-word;
}
#u80957_div {
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'HiraginoSansGB-W3', 'Hiragino Sans GB W3', 'Hiragino Sans GB';
  font-weight:300;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u80957 {
  position:absolute;
  left:124px;
  top:230px;
  width:265px;
  height:25px;
  font-family:'HiraginoSansGB-W3', 'Hiragino Sans GB W3', 'Hiragino Sans GB';
  font-weight:300;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u80958 {
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  word-wrap:break-word;
}
#u80959_div {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u80959 {
  position:absolute;
  left:801px;
  top:177px;
  width:190px;
  height:25px;
  font-size:16px;
  text-align:left;
}
#u80960 {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  word-wrap:break-word;
}
#u80961_div {
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'HiraginoSansGB-W3', 'Hiragino Sans GB W3', 'Hiragino Sans GB';
  font-weight:300;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u80961 {
  position:absolute;
  left:425px;
  top:227px;
  width:265px;
  height:25px;
  font-family:'HiraginoSansGB-W3', 'Hiragino Sans GB W3', 'Hiragino Sans GB';
  font-weight:300;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u80962 {
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  word-wrap:break-word;
}
#u80963_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
#u80963 {
  position:absolute;
  left:307px;
  top:386px;
  width:120px;
  height:14px;
  font-size:12px;
  color:#999999;
}
#u80964 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  white-space:nowrap;
}
#u80965_div {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u80965 {
  position:absolute;
  left:318px;
  top:409px;
  width:148px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u80966 {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  white-space:nowrap;
}
#u80967_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
#u80967 {
  position:absolute;
  left:307px;
  top:458px;
  width:120px;
  height:14px;
  font-size:12px;
  color:#999999;
}
#u80968 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  white-space:nowrap;
}
#u80969_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:76px;
}
#u80969 {
  position:absolute;
  left:290px;
  top:397px;
  width:1px;
  height:75px;
  color:#666666;
}
#u80970 {
  position:absolute;
  left:2px;
  top:30px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u80971_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u80971 {
  position:absolute;
  left:284px;
  top:388px;
  width:12px;
  height:12px;
}
#u80972 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u80973_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u80973 {
  position:absolute;
  left:284px;
  top:460px;
  width:12px;
  height:12px;
}
#u80974 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u80975_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u80975 {
  position:absolute;
  left:125px;
  top:340px;
  width:65px;
  height:22px;
  font-family:'';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u80976 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
