body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:742px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u41613_div {
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:65px;
  background:inherit;
  background-color:rgba(215, 0, 15, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u41613 {
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:65px;
}
#u41614 {
  position:absolute;
  left:2px;
  top:24px;
  width:373px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41615_div {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u41615 {
  position:absolute;
  left:155px;
  top:31px;
  width:76px;
  height:22px;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u41616 {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  word-wrap:break-word;
}
#u41617_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:596px;
}
#u41617 {
  position:absolute;
  left:0px;
  top:70px;
  width:374px;
  height:596px;
}
#u41618 {
  position:absolute;
  left:2px;
  top:290px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41619_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:32px;
}
#u41619 {
  position:absolute;
  left:1px;
  top:-1px;
  width:375px;
  height:32px;
}
#u41620 {
  position:absolute;
  left:2px;
  top:8px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41621_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u41621 {
  position:absolute;
  left:251px;
  top:247px;
  width:113px;
  height:40px;
}
#u41622 {
  position:absolute;
  left:2px;
  top:12px;
  width:109px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41623_div {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u41623 {
  position:absolute;
  left:328px;
  top:123px;
  width:36px;
  height:33px;
}
#u41624 {
  position:absolute;
  left:2px;
  top:8px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41625 {
  position:absolute;
  left:16px;
  top:123px;
  width:361px;
  height:365px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u41627_div {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:33px;
  background:inherit;
  background-color:rgba(214, 21, 24, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u41627 {
  position:absolute;
  left:14px;
  top:26px;
  width:32px;
  height:33px;
}
#u41628 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41629_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:18px;
}
#u41629 {
  position:absolute;
  left:21px;
  top:32px;
  width:10px;
  height:18px;
}
#u41630 {
  position:absolute;
  left:2px;
  top:1px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41631 {
  position:absolute;
  left:11px;
  top:25px;
  width:54px;
  height:34px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u41632_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u41632 {
  position:absolute;
  left:442px;
  top:129px;
  width:300px;
  height:170px;
}
#u41633 {
  position:absolute;
  left:2px;
  top:76px;
  width:296px;
  word-wrap:break-word;
}
