body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:791px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u10805_img {
  position:absolute;
  left:0px;
  top:0px;
  width:348px;
  height:15px;
}
#u10805 {
  position:absolute;
  left:16px;
  top:0px;
  width:348px;
  height:15px;
  font-family:'HiraginoSansGB-W3', '冬青黑体简体中文 W3', '冬青黑体简体中文';
  font-weight:300;
  font-style:normal;
}
#u10806 {
  position:absolute;
  left:2px;
  top:0px;
  width:344px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10807_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:595px;
}
#u10807 {
  position:absolute;
  left:0px;
  top:71px;
  width:374px;
  height:595px;
}
#u10808 {
  position:absolute;
  left:2px;
  top:290px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10809 {
  position:absolute;
  left:10px;
  top:445px;
  width:354px;
  height:70px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u10810 {
  position:absolute;
  left:10px;
  top:525px;
  width:354px;
  height:54px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u10811 {
  position:absolute;
  left:10px;
  top:250px;
  width:354px;
  height:51px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u10813 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10814_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:40px;
}
#u10814 {
  position:absolute;
  left:1px;
  top:25px;
  width:374px;
  height:40px;
}
#u10815 {
  position:absolute;
  left:2px;
  top:12px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10816_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:32px;
}
#u10816 {
  position:absolute;
  left:1px;
  top:0px;
  width:374px;
  height:32px;
}
#u10817 {
  position:absolute;
  left:2px;
  top:8px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10818_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:35px;
  color:#FFFFFF;
  text-align:center;
}
#u10818 {
  position:absolute;
  left:0px;
  top:33px;
  width:30px;
  height:30px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:35px;
  color:#FFFFFF;
  text-align:center;
}
#u10819 {
  position:absolute;
  left:0px;
  top:-3px;
  width:30px;
  word-wrap:break-word;
}
#u10820_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u10820 {
  position:absolute;
  left:154px;
  top:28px;
  width:73px;
  height:22px;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u10821 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u10822_div {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u10822 {
  position:absolute;
  left:322px;
  top:31px;
  width:42px;
  height:19px;
  font-size:16px;
  color:#FFFFFF;
}
#u10823 {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  word-wrap:break-word;
}
#u10824 {
  position:absolute;
  left:0px;
  top:30px;
  width:41px;
  height:29px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u10825 {
  position:absolute;
  left:317px;
  top:30px;
  width:41px;
  height:29px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u10826_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:2px;
}
#u10826 {
  position:absolute;
  left:0px;
  top:636px;
  width:375px;
  height:1px;
}
#u10827 {
  position:absolute;
  left:2px;
  top:-8px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10828_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10828 {
  position:absolute;
  left:0px;
  top:580px;
  width:375px;
  height:55px;
}
#u10829 {
  position:absolute;
  left:2px;
  top:20px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10830_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#999999;
}
#u10830 {
  position:absolute;
  left:43px;
  top:596px;
  width:62px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#999999;
}
#u10831 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u10833_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u10833 {
  position:absolute;
  left:332px;
  top:600px;
  width:26px;
  height:26px;
}
#u10834 {
  position:absolute;
  left:2px;
  top:5px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10835 {
  position:absolute;
  left:140px;
  top:580px;
  width:225px;
  height:54px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u10836_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:13px;
}
#u10836 {
  position:absolute;
  left:16px;
  top:599px;
  width:11px;
  height:13px;
}
#u10837 {
  position:absolute;
  left:2px;
  top:-2px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10838_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10838 {
  position:absolute;
  left:491px;
  top:395px;
  width:300px;
  height:170px;
}
#u10839 {
  position:absolute;
  left:2px;
  top:77px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10840_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
  text-align:right;
}
#u10840 {
  position:absolute;
  left:8px;
  top:265px;
  width:37px;
  height:26px;
  color:#FF0000;
  text-align:right;
}
#u10841 {
  position:absolute;
  left:2px;
  top:6px;
  width:33px;
  word-wrap:break-word;
}
#u10842_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
  text-align:right;
}
#u10842 {
  position:absolute;
  left:8px;
  top:311px;
  width:37px;
  height:26px;
  color:#FF0000;
  text-align:right;
}
#u10843 {
  position:absolute;
  left:2px;
  top:6px;
  width:33px;
  word-wrap:break-word;
}
#u10844_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
  text-align:right;
}
#u10844 {
  position:absolute;
  left:8px;
  top:359px;
  width:37px;
  height:26px;
  color:#FF0000;
  text-align:right;
}
#u10845 {
  position:absolute;
  left:2px;
  top:6px;
  width:33px;
  word-wrap:break-word;
}
#u10846_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
  text-align:right;
}
#u10846 {
  position:absolute;
  left:8px;
  top:542px;
  width:37px;
  height:26px;
  color:#FF0000;
  text-align:right;
}
#u10847 {
  position:absolute;
  left:2px;
  top:6px;
  width:33px;
  word-wrap:break-word;
}
#u10848_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
  text-align:right;
}
#u10848 {
  position:absolute;
  left:4px;
  top:593px;
  width:37px;
  height:26px;
  color:#FF0000;
  text-align:right;
}
#u10849 {
  position:absolute;
  left:2px;
  top:6px;
  width:33px;
  word-wrap:break-word;
}
#u10850_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
  text-align:right;
}
#u10850 {
  position:absolute;
  left:8px;
  top:409px;
  width:37px;
  height:26px;
  color:#FF0000;
  text-align:right;
}
#u10851 {
  position:absolute;
  left:2px;
  top:5px;
  width:33px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10852_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
  text-align:right;
}
#u10852 {
  position:absolute;
  left:8px;
  top:455px;
  width:37px;
  height:26px;
  color:#FF0000;
  text-align:right;
}
#u10853 {
  position:absolute;
  left:2px;
  top:5px;
  width:33px;
  visibility:hidden;
  word-wrap:break-word;
}
