body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u11075_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:660px;
}
#u11075 {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:660px;
}
#u11076 {
  position:absolute;
  left:2px;
  top:322px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11078 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11079_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:40px;
}
#u11079 {
  position:absolute;
  left:1px;
  top:26px;
  width:374px;
  height:40px;
}
#u11080 {
  position:absolute;
  left:2px;
  top:12px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11081_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:32px;
}
#u11081 {
  position:absolute;
  left:1px;
  top:1px;
  width:374px;
  height:32px;
}
#u11082 {
  position:absolute;
  left:2px;
  top:8px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11083_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:35px;
  color:#FFFFFF;
  text-align:center;
}
#u11083 {
  position:absolute;
  left:0px;
  top:34px;
  width:30px;
  height:30px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:35px;
  color:#FFFFFF;
  text-align:center;
}
#u11084 {
  position:absolute;
  left:0px;
  top:-3px;
  width:30px;
  word-wrap:break-word;
}
#u11085_div {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u11085 {
  position:absolute;
  left:323px;
  top:35px;
  width:42px;
  height:19px;
  font-size:16px;
  color:#FFFFFF;
}
#u11086 {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  word-wrap:break-word;
}
#u11087 {
  position:absolute;
  left:323px;
  top:30px;
  width:41px;
  height:29px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u11088 {
  position:absolute;
  left:0px;
  top:35px;
  width:41px;
  height:29px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u11089_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u11089 {
  position:absolute;
  left:168px;
  top:37px;
  width:73px;
  height:22px;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u11090 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
