body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:727px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5205_img {
  position:absolute;
  left:0px;
  top:0px;
  width:348px;
  height:15px;
}
#u5205 {
  position:absolute;
  left:16px;
  top:0px;
  width:348px;
  height:15px;
  font-family:'HiraginoSansGB-W3', '冬青黑体简体中文 W3', '冬青黑体简体中文';
  font-weight:300;
  font-style:normal;
}
#u5206 {
  position:absolute;
  left:2px;
  top:0px;
  width:344px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5207_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u5207 {
  position:absolute;
  left:4px;
  top:32px;
  width:23px;
  height:23px;
}
#u5208 {
  position:absolute;
  left:2px;
  top:4px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5209_img {
  position:absolute;
  left:0px;
  top:0px;
  width:372px;
  height:2px;
}
#u5209 {
  position:absolute;
  left:2px;
  top:65px;
  width:371px;
  height:1px;
}
#u5210 {
  position:absolute;
  left:2px;
  top:-8px;
  width:367px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5211_img {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:599px;
}
#u5211 {
  position:absolute;
  left:0px;
  top:65px;
  width:373px;
  height:599px;
}
#u5212 {
  position:absolute;
  left:2px;
  top:292px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5213_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5213 {
  position:absolute;
  left:429px;
  top:186px;
  width:300px;
  height:170px;
}
#u5214 {
  position:absolute;
  left:2px;
  top:76px;
  width:296px;
  word-wrap:break-word;
}
#u5216 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5217_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:40px;
}
#u5217 {
  position:absolute;
  left:-1px;
  top:25px;
  width:374px;
  height:40px;
}
#u5218 {
  position:absolute;
  left:2px;
  top:12px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5219_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:32px;
}
#u5219 {
  position:absolute;
  left:-1px;
  top:0px;
  width:374px;
  height:32px;
}
#u5220 {
  position:absolute;
  left:2px;
  top:8px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5221_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:35px;
  color:#FFFFFF;
  text-align:center;
}
#u5221 {
  position:absolute;
  left:-2px;
  top:33px;
  width:30px;
  height:30px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:35px;
  color:#FFFFFF;
  text-align:center;
}
#u5222 {
  position:absolute;
  left:0px;
  top:-3px;
  width:30px;
  word-wrap:break-word;
}
#u5223_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u5223 {
  position:absolute;
  left:152px;
  top:32px;
  width:81px;
  height:22px;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u5224 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  word-wrap:break-word;
}
#u5225 {
  position:absolute;
  left:4px;
  top:29px;
  width:51px;
  height:31px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5226_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:right;
}
#u5226 {
  position:absolute;
  left:283px;
  top:32px;
  width:81px;
  height:19px;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:right;
}
#u5227 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  word-wrap:break-word;
}
#u5228 {
  position:absolute;
  left:323px;
  top:29px;
  width:51px;
  height:31px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
