body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:316px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u45529_div {
  position:absolute;
  left:0px;
  top:0px;
  width:432px;
  height:700px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u45529 {
  position:absolute;
  left:-58px;
  top:-34px;
  width:432px;
  height:700px;
}
#u45530 {
  position:absolute;
  left:2px;
  top:342px;
  width:428px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45532 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u45533_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:40px;
}
#u45533 {
  position:absolute;
  left:-1px;
  top:23px;
  width:374px;
  height:40px;
}
#u45534 {
  position:absolute;
  left:2px;
  top:12px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45535_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:32px;
}
#u45535 {
  position:absolute;
  left:-1px;
  top:-2px;
  width:374px;
  height:32px;
}
#u45536 {
  position:absolute;
  left:2px;
  top:8px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45537_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:35px;
  color:#FFFFFF;
  text-align:center;
}
#u45537 {
  position:absolute;
  left:-2px;
  top:31px;
  width:30px;
  height:30px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:35px;
  color:#FFFFFF;
  text-align:center;
}
#u45538 {
  position:absolute;
  left:0px;
  top:-3px;
  width:30px;
  word-wrap:break-word;
}
#u45539_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u45539 {
  position:absolute;
  left:144px;
  top:35px;
  width:73px;
  height:25px;
  font-size:18px;
  color:#FFFFFF;
}
#u45540 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u45541_div {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#999999;
}
#u45541 {
  position:absolute;
  left:55px;
  top:74px;
  width:105px;
  height:33px;
  font-size:13px;
  color:#999999;
}
#u45542 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u45543_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u45543 {
  position:absolute;
  left:25px;
  top:76px;
  width:12px;
  height:12px;
}
#u45544 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45545_div {
  position:absolute;
  left:0px;
  top:0px;
  width:364px;
  height:541px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u45545 {
  position:absolute;
  left:8px;
  top:125px;
  width:364px;
  height:541px;
}
#u45546 {
  position:absolute;
  left:2px;
  top:262px;
  width:360px;
  visibility:hidden;
  word-wrap:break-word;
}
