body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:709px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u20065_img {
  position:absolute;
  left:0px;
  top:0px;
  width:348px;
  height:15px;
}
#u20065 {
  position:absolute;
  left:3px;
  top:0px;
  width:348px;
  height:15px;
  font-family:'HiraginoSansGB-W3', '冬青黑体简体中文 W3', '冬青黑体简体中文';
  font-weight:300;
  font-style:normal;
}
#u20066 {
  position:absolute;
  left:2px;
  top:0px;
  width:344px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20067_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:555px;
}
#u20067 {
  position:absolute;
  left:0px;
  top:65px;
  width:374px;
  height:555px;
}
#u20068 {
  position:absolute;
  left:2px;
  top:270px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20069_div {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:130px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20069 {
  position:absolute;
  left:0px;
  top:536px;
  width:374px;
  height:130px;
}
#u20070 {
  position:absolute;
  left:2px;
  top:57px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20071_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20071 {
  position:absolute;
  left:410px;
  top:109px;
  width:300px;
  height:170px;
}
#u20072 {
  position:absolute;
  left:2px;
  top:76px;
  width:296px;
  word-wrap:break-word;
}
#u20074 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u20075_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:40px;
}
#u20075 {
  position:absolute;
  left:0px;
  top:25px;
  width:374px;
  height:40px;
}
#u20076 {
  position:absolute;
  left:2px;
  top:12px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20077_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:32px;
}
#u20077 {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:32px;
}
#u20078 {
  position:absolute;
  left:2px;
  top:8px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20079_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:35px;
  color:#FFFFFF;
  text-align:center;
}
#u20079 {
  position:absolute;
  left:-1px;
  top:33px;
  width:30px;
  height:30px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:35px;
  color:#FFFFFF;
  text-align:center;
}
#u20080 {
  position:absolute;
  left:0px;
  top:-3px;
  width:30px;
  word-wrap:break-word;
}
#u20081_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u20081 {
  position:absolute;
  left:154px;
  top:28px;
  width:73px;
  height:22px;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u20082 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u20083 {
  position:absolute;
  left:0px;
  top:25px;
  width:63px;
  height:44px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u20084 {
  position:absolute;
  left:11px;
  top:69px;
  width:354px;
  height:345px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u20085_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u20085 {
  position:absolute;
  left:16px;
  top:79px;
  width:65px;
  height:19px;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u20086 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u20087_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u20087 {
  position:absolute;
  left:16px;
  top:128px;
  width:73px;
  height:19px;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u20088 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  word-wrap:break-word;
}
#u20089_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u20089 {
  position:absolute;
  left:16px;
  top:181px;
  width:81px;
  height:19px;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u20090 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  word-wrap:break-word;
}
#u20091_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u20091 {
  position:absolute;
  left:16px;
  top:233px;
  width:97px;
  height:19px;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u20092 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u20093_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u20093 {
  position:absolute;
  left:16px;
  top:282px;
  width:81px;
  height:19px;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u20094 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  word-wrap:break-word;
}
#u20095_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u20095 {
  position:absolute;
  left:16px;
  top:335px;
  width:65px;
  height:19px;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u20096 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u20097_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u20097 {
  position:absolute;
  left:16px;
  top:386px;
  width:97px;
  height:19px;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u20098 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
