body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:374px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u17041_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:660px;
}
#u17041 {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:660px;
}
#u17042 {
  position:absolute;
  left:2px;
  top:322px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17044_div {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:33px;
  background:inherit;
  background-color:rgba(214, 21, 24, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17044 {
  position:absolute;
  left:9px;
  top:35px;
  width:32px;
  height:33px;
}
#u17045 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17046_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:18px;
}
#u17046 {
  position:absolute;
  left:16px;
  top:41px;
  width:10px;
  height:18px;
}
#u17047 {
  position:absolute;
  left:2px;
  top:1px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17048 {
  position:absolute;
  left:5px;
  top:31px;
  width:40px;
  height:41px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u17049_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u17049 {
  position:absolute;
  left:16px;
  top:189px;
  width:33px;
  height:21px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u17050 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u17051 {
  position:absolute;
  left:11px;
  top:78px;
  width:307px;
  height:139px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
