body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:371px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u42806_div {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:661px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u42806 {
  position:absolute;
  left:-6px;
  top:-1px;
  width:380px;
  height:661px;
}
#u42807 {
  position:absolute;
  left:2px;
  top:322px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42809 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u42810_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:40px;
}
#u42810 {
  position:absolute;
  left:-1px;
  top:24px;
  width:374px;
  height:40px;
}
#u42811 {
  position:absolute;
  left:2px;
  top:12px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42812_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:32px;
}
#u42812 {
  position:absolute;
  left:-1px;
  top:-1px;
  width:374px;
  height:32px;
}
#u42813 {
  position:absolute;
  left:2px;
  top:8px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42814_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:35px;
  color:#FFFFFF;
  text-align:center;
}
#u42814 {
  position:absolute;
  left:-2px;
  top:32px;
  width:30px;
  height:30px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:35px;
  color:#FFFFFF;
  text-align:center;
}
#u42815 {
  position:absolute;
  left:0px;
  top:-3px;
  width:30px;
  word-wrap:break-word;
}
#u42816_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u42816 {
  position:absolute;
  left:132px;
  top:36px;
  width:109px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u42817 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u42818_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:2px;
}
#u42818 {
  position:absolute;
  left:-6px;
  top:111px;
  width:379px;
  height:1px;
}
#u42819 {
  position:absolute;
  left:2px;
  top:-8px;
  width:375px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42820_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u42820 {
  position:absolute;
  left:16px;
  top:81px;
  width:29px;
  height:20px;
}
#u42821 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u42822_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:2px;
}
#u42822 {
  position:absolute;
  left:-4px;
  top:158px;
  width:379px;
  height:1px;
}
#u42823 {
  position:absolute;
  left:2px;
  top:-8px;
  width:375px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42824_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u42824 {
  position:absolute;
  left:18px;
  top:128px;
  width:29px;
  height:20px;
}
#u42825 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u42826_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:2px;
}
#u42826 {
  position:absolute;
  left:-2px;
  top:204px;
  width:379px;
  height:1px;
}
#u42827 {
  position:absolute;
  left:2px;
  top:-8px;
  width:375px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42828_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u42828 {
  position:absolute;
  left:20px;
  top:174px;
  width:43px;
  height:20px;
}
#u42829 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u42830_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:2px;
}
#u42830 {
  position:absolute;
  left:-2px;
  top:250px;
  width:379px;
  height:1px;
}
#u42831 {
  position:absolute;
  left:2px;
  top:-8px;
  width:375px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42832_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u42832 {
  position:absolute;
  left:20px;
  top:220px;
  width:29px;
  height:20px;
}
#u42833 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u42834_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:410px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u42834 {
  position:absolute;
  left:-2px;
  top:250px;
  width:375px;
  height:410px;
}
#u42835 {
  position:absolute;
  left:2px;
  top:197px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42836_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:36px;
}
#u42836 {
  position:absolute;
  left:321px;
  top:75px;
  width:39px;
  height:36px;
}
#u42837 {
  position:absolute;
  left:2px;
  top:10px;
  width:35px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42838 {
  position:absolute;
  left:11px;
  top:71px;
  width:300px;
  height:38px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
