body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1198px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u57719_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1198px;
  height:880px;
}
#u57719 {
  position:absolute;
  left:0px;
  top:0px;
  width:1198px;
  height:880px;
}
#u57720 {
  position:absolute;
  left:2px;
  top:432px;
  width:1194px;
  visibility:hidden;
  word-wrap:break-word;
}
#u57721_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1198px;
  height:880px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u57721 {
  position:absolute;
  left:0px;
  top:0px;
  width:1198px;
  height:880px;
  opacity:0.7;
}
#u57722 {
  position:absolute;
  left:2px;
  top:432px;
  width:1194px;
  visibility:hidden;
  word-wrap:break-word;
}
#u57723_div {
  position:absolute;
  left:0px;
  top:0px;
  width:491px;
  height:253px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:9px 9px 9px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:9px 9px 9px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:9px 9px 9px rgba(0, 0, 0, 0.349019607843137);
}
#u57723 {
  position:absolute;
  left:214px;
  top:112px;
  width:491px;
  height:253px;
}
#u57724 {
  position:absolute;
  left:2px;
  top:118px;
  width:487px;
  visibility:hidden;
  word-wrap:break-word;
}
#u57725_div {
  position:absolute;
  left:0px;
  top:0px;
  width:491px;
  height:53px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u57725 {
  position:absolute;
  left:214px;
  top:112px;
  width:491px;
  height:53px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u57726 {
  position:absolute;
  left:2px;
  top:12px;
  width:487px;
  word-wrap:break-word;
}
#u57727_div {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u57727 {
  position:absolute;
  left:678px;
  top:127px;
  width:14px;
  height:24px;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u57728 {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  white-space:nowrap;
}
#u57729_img {
  position:absolute;
  left:0px;
  top:0px;
  width:458px;
  height:2px;
}
#u57729 {
  position:absolute;
  left:229px;
  top:284px;
  width:457px;
  height:1px;
}
#u57730 {
  position:absolute;
  left:2px;
  top:-8px;
  width:453px;
  visibility:hidden;
  word-wrap:break-word;
}
#u57731_div {
  position:absolute;
  left:0px;
  top:0px;
  width:491px;
  height:53px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u57731 {
  position:absolute;
  left:214px;
  top:312px;
  width:491px;
  height:53px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u57732 {
  position:absolute;
  left:2px;
  top:18px;
  width:487px;
  visibility:hidden;
  word-wrap:break-word;
}
#u57733 {
  position:absolute;
  left:599px;
  top:326px;
  width:93px;
  height:25px;
}
#u57733_input {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:25px;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#FF0000;
  text-align:center;
}
#u57733_input {
  font-family:'FontAwesome';
}
#u57734_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u57734 {
  position:absolute;
  left:77px;
  top:899px;
  width:300px;
  height:170px;
}
#u57735 {
  position:absolute;
  left:2px;
  top:76px;
  width:296px;
  word-wrap:break-word;
}
#u57736_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:44px;
}
#u57736 {
  position:absolute;
  left:241px;
  top:188px;
  width:44px;
  height:44px;
  font-family:'HiraginoSansGB-W3', '冬青黑体简体中文 W3', '冬青黑体简体中文';
  font-weight:300;
  font-style:normal;
}
#u57737 {
  position:absolute;
  left:2px;
  top:14px;
  width:40px;
  visibility:hidden;
  word-wrap:break-word;
}
#u57738_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:44px;
}
#u57738 {
  position:absolute;
  left:319px;
  top:188px;
  width:44px;
  height:44px;
  font-family:'HiraginoSansGB-W3', '冬青黑体简体中文 W3', '冬青黑体简体中文';
  font-weight:300;
  font-style:normal;
}
#u57739 {
  position:absolute;
  left:2px;
  top:14px;
  width:40px;
  visibility:hidden;
  word-wrap:break-word;
}
#u57740_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:44px;
}
#u57740 {
  position:absolute;
  left:401px;
  top:188px;
  width:44px;
  height:44px;
  font-family:'HiraginoSansGB-W3', '冬青黑体简体中文 W3', '冬青黑体简体中文';
  font-weight:300;
  font-style:normal;
}
#u57741 {
  position:absolute;
  left:2px;
  top:14px;
  width:40px;
  visibility:hidden;
  word-wrap:break-word;
}
#u57742_div {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'HiraginoSansGB-W3', '冬青黑体简体中文 W3', '冬青黑体简体中文';
  font-weight:300;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u57742 {
  position:absolute;
  left:252px;
  top:242px;
  width:36px;
  height:17px;
  font-family:'HiraginoSansGB-W3', '冬青黑体简体中文 W3', '冬青黑体简体中文';
  font-weight:300;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u57743 {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  word-wrap:break-word;
}
#u57744_div {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'HiraginoSansGB-W3', '冬青黑体简体中文 W3', '冬青黑体简体中文';
  font-weight:300;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u57744 {
  position:absolute;
  left:323px;
  top:242px;
  width:36px;
  height:17px;
  font-family:'HiraginoSansGB-W3', '冬青黑体简体中文 W3', '冬青黑体简体中文';
  font-weight:300;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u57745 {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  word-wrap:break-word;
}
#u57746_div {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'HiraginoSansGB-W3', '冬青黑体简体中文 W3', '冬青黑体简体中文';
  font-weight:300;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u57746 {
  position:absolute;
  left:405px;
  top:242px;
  width:36px;
  height:17px;
  font-family:'HiraginoSansGB-W3', '冬青黑体简体中文 W3', '冬青黑体简体中文';
  font-weight:300;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u57747 {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  word-wrap:break-word;
}
