body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:374px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u32596_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:660px;
}
#u32596 {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:660px;
}
#u32597 {
  position:absolute;
  left:2px;
  top:322px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32598 {
  position:absolute;
  left:0px;
  top:93px;
  width:42px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
