body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:674px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u34524_img {
  position:absolute;
  left:0px;
  top:0px;
  width:348px;
  height:15px;
}
#u34524 {
  position:absolute;
  left:16px;
  top:0px;
  width:348px;
  height:15px;
  font-family:'HiraginoSansGB-W3', '冬青黑体简体中文 W3', '冬青黑体简体中文';
  font-weight:300;
  font-style:normal;
}
#u34525 {
  position:absolute;
  left:2px;
  top:0px;
  width:344px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34526_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:596px;
}
#u34526 {
  position:absolute;
  left:-1px;
  top:70px;
  width:375px;
  height:596px;
}
#u34527 {
  position:absolute;
  left:2px;
  top:290px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34528_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u34528 {
  position:absolute;
  left:121px;
  top:153px;
  width:81px;
  height:28px;
  font-family:'';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u34529 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u34531 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u34532_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:40px;
}
#u34532 {
  position:absolute;
  left:1px;
  top:25px;
  width:374px;
  height:40px;
}
#u34533 {
  position:absolute;
  left:2px;
  top:12px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34534_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:32px;
}
#u34534 {
  position:absolute;
  left:1px;
  top:0px;
  width:374px;
  height:32px;
}
#u34535 {
  position:absolute;
  left:2px;
  top:8px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34536_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:35px;
  color:#FFFFFF;
  text-align:center;
}
#u34536 {
  position:absolute;
  left:0px;
  top:33px;
  width:30px;
  height:30px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:35px;
  color:#FFFFFF;
  text-align:center;
}
#u34537 {
  position:absolute;
  left:0px;
  top:-3px;
  width:30px;
  word-wrap:break-word;
}
#u34538_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u34538 {
  position:absolute;
  left:112px;
  top:32px;
  width:145px;
  height:22px;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u34539 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u34540_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u34540 {
  position:absolute;
  left:375px;
  top:234px;
  width:300px;
  height:170px;
  text-align:left;
}
#u34541 {
  position:absolute;
  left:2px;
  top:49px;
  width:296px;
  word-wrap:break-word;
}
