body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:372px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u10782_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:654px;
}
#u10782 {
  position:absolute;
  left:0px;
  top:6px;
  width:374px;
  height:654px;
}
#u10783 {
  position:absolute;
  left:2px;
  top:319px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10784_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:34px;
  background:inherit;
  background-color:rgba(214, 21, 24, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10784 {
  position:absolute;
  left:7px;
  top:41px;
  width:40px;
  height:34px;
}
#u10785 {
  position:absolute;
  left:2px;
  top:9px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10786_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:35px;
  color:#FFFFFF;
  text-align:center;
}
#u10786 {
  position:absolute;
  left:11px;
  top:44px;
  width:30px;
  height:30px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:35px;
  color:#FFFFFF;
  text-align:center;
}
#u10787 {
  position:absolute;
  left:0px;
  top:-3px;
  width:30px;
  word-wrap:break-word;
}
#u10788 {
  position:absolute;
  left:316px;
  top:41px;
  width:58px;
  height:39px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u10789 {
  position:absolute;
  left:-3px;
  top:39px;
  width:58px;
  height:39px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u10791_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:27px;
}
#u10791 {
  position:absolute;
  left:0px;
  top:5px;
  width:375px;
  height:27px;
}
#u10792 {
  position:absolute;
  left:2px;
  top:6px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
