body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1413px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u96828_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:55px;
}
#u96828 {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:45px;
  font-size:20px;
  color:#FFFFFF;
}
#u96829 {
  position:absolute;
  left:2px;
  top:14px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u96830_img {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:55px;
}
#u96830 {
  position:absolute;
  left:13px;
  top:0px;
  width:216px;
  height:45px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:18px;
  color:#FF0000;
}
#u96831 {
  position:absolute;
  left:2px;
  top:10px;
  width:212px;
  word-wrap:break-word;
}
#u96832_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:55px;
}
#u96832 {
  position:absolute;
  left:1291px;
  top:0px;
  width:13px;
  height:45px;
  font-size:20px;
  color:#FFFFFF;
}
#u96833 {
  position:absolute;
  left:2px;
  top:14px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u96834_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1070px;
  height:55px;
}
#u96834 {
  position:absolute;
  left:230px;
  top:0px;
  width:1060px;
  height:45px;
  font-family:'';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u96835 {
  position:absolute;
  left:2px;
  top:14px;
  width:1056px;
  visibility:hidden;
  word-wrap:break-word;
}
#u96836_div {
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:1494px;
  background:inherit;
  background-color:rgba(61, 61, 61, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 51, 51, 1);
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u96836 {
  position:absolute;
  left:1px;
  top:46px;
  width:227px;
  height:1494px;
}
#u96837 {
  position:absolute;
  left:2px;
  top:739px;
  width:223px;
  visibility:hidden;
  word-wrap:break-word;
}
#u96838_div {
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:45px;
  background:inherit;
  background-color:rgba(224, 34, 34, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 51, 51, 1);
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u96838 {
  position:absolute;
  left:0px;
  top:373px;
  width:227px;
  height:45px;
}
#u96839 {
  position:absolute;
  left:2px;
  top:14px;
  width:223px;
  visibility:hidden;
  word-wrap:break-word;
}
#u96840 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u96841_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u96841 {
  position:absolute;
  left:176px;
  top:64px;
  width:30px;
  height:30px;
}
#u96842 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u96843_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:2px;
}
#u96843 {
  position:absolute;
  left:182px;
  top:73px;
  width:18px;
  height:1px;
}
#u96844 {
  position:absolute;
  left:2px;
  top:-8px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u96845_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:2px;
}
#u96845 {
  position:absolute;
  left:182px;
  top:77px;
  width:18px;
  height:1px;
}
#u96846 {
  position:absolute;
  left:2px;
  top:-8px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u96847_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:2px;
}
#u96847 {
  position:absolute;
  left:182px;
  top:81px;
  width:18px;
  height:1px;
}
#u96848 {
  position:absolute;
  left:2px;
  top:-8px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u96849_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:2px;
}
#u96849 {
  position:absolute;
  left:182px;
  top:85px;
  width:18px;
  height:1px;
}
#u96850 {
  position:absolute;
  left:2px;
  top:-8px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u96851_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:32px;
}
#u96851 {
  position:absolute;
  left:34px;
  top:385px;
  width:97px;
  height:22px;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u96852 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u96853_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:26px;
}
#u96853 {
  position:absolute;
  left:172px;
  top:384px;
  width:23px;
  height:16px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u96854 {
  position:absolute;
  left:2px;
  top:0px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u96855_img {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:2px;
}
#u96855 {
  position:absolute;
  left:13px;
  top:107px;
  width:194px;
  height:1px;
}
#u96856 {
  position:absolute;
  left:2px;
  top:-8px;
  width:190px;
  visibility:hidden;
  word-wrap:break-word;
}
#u96857_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:20px;
}
#u96857 {
  position:absolute;
  left:38px;
  top:428px;
  width:18px;
  height:20px;
}
#u96858 {
  position:absolute;
  left:2px;
  top:2px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u96859_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:31px;
}
#u96859 {
  position:absolute;
  left:66px;
  top:430px;
  width:91px;
  height:21px;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#A1A1A1;
}
#u96860 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u96861_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:44px;
}
#u96861 {
  position:absolute;
  left:211px;
  top:322px;
  width:20px;
  height:44px;
}
#u96862 {
  position:absolute;
  left:2px;
  top:14px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u96863_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:32px;
}
#u96863 {
  position:absolute;
  left:35px;
  top:119px;
  width:65px;
  height:22px;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u96864 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u96865_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:26px;
}
#u96865 {
  position:absolute;
  left:173px;
  top:121px;
  width:23px;
  height:16px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u96866 {
  position:absolute;
  left:2px;
  top:0px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u96867_img {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:2px;
}
#u96867 {
  position:absolute;
  left:12px;
  top:150px;
  width:194px;
  height:1px;
}
#u96868 {
  position:absolute;
  left:2px;
  top:-8px;
  width:190px;
  visibility:hidden;
  word-wrap:break-word;
}
#u96869_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:31px;
}
#u96869 {
  position:absolute;
  left:66px;
  top:162px;
  width:61px;
  height:21px;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#A1A1A1;
}
#u96870 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u96871_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:20px;
}
#u96871 {
  position:absolute;
  left:38px;
  top:160px;
  width:18px;
  height:20px;
}
#u96872 {
  position:absolute;
  left:2px;
  top:2px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u96873_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:31px;
}
#u96873 {
  position:absolute;
  left:66px;
  top:190px;
  width:61px;
  height:21px;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#A1A1A1;
}
#u96874 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u96875_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:20px;
}
#u96875 {
  position:absolute;
  left:38px;
  top:188px;
  width:18px;
  height:20px;
}
#u96876 {
  position:absolute;
  left:2px;
  top:2px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u96877_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:31px;
}
#u96877 {
  position:absolute;
  left:67px;
  top:218px;
  width:61px;
  height:21px;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#A1A1A1;
}
#u96878 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u96879_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:20px;
}
#u96879 {
  position:absolute;
  left:39px;
  top:216px;
  width:18px;
  height:20px;
}
#u96880 {
  position:absolute;
  left:2px;
  top:2px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u96881_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:31px;
}
#u96881 {
  position:absolute;
  left:66px;
  top:243px;
  width:61px;
  height:21px;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#A1A1A1;
}
#u96882 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u96883_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:20px;
}
#u96883 {
  position:absolute;
  left:39px;
  top:241px;
  width:18px;
  height:20px;
}
#u96884 {
  position:absolute;
  left:2px;
  top:2px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u96885 {
  position:absolute;
  left:38px;
  top:150px;
  width:182px;
  height:32px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u96886 {
  position:absolute;
  left:38px;
  top:187px;
  width:182px;
  height:25px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u96887 {
  position:absolute;
  left:39px;
  top:215px;
  width:182px;
  height:25px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u96888 {
  position:absolute;
  left:38px;
  top:241px;
  width:182px;
  height:25px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u96889_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:31px;
}
#u96889 {
  position:absolute;
  left:67px;
  top:269px;
  width:61px;
  height:21px;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#A1A1A1;
}
#u96890 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u96891_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:20px;
}
#u96891 {
  position:absolute;
  left:40px;
  top:267px;
  width:18px;
  height:20px;
}
#u96892 {
  position:absolute;
  left:2px;
  top:2px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u96893 {
  position:absolute;
  left:35px;
  top:267px;
  width:182px;
  height:25px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u96894 {
  position:absolute;
  left:38px;
  top:431px;
  width:182px;
  height:25px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u96895_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:20px;
}
#u96895 {
  position:absolute;
  left:38px;
  top:466px;
  width:18px;
  height:20px;
}
#u96896 {
  position:absolute;
  left:2px;
  top:2px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u96897_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:31px;
}
#u96897 {
  position:absolute;
  left:66px;
  top:468px;
  width:91px;
  height:21px;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#A1A1A1;
}
#u96898 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u96899_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:20px;
}
#u96899 {
  position:absolute;
  left:40px;
  top:499px;
  width:18px;
  height:20px;
}
#u96900 {
  position:absolute;
  left:2px;
  top:2px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u96901_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:31px;
}
#u96901 {
  position:absolute;
  left:68px;
  top:501px;
  width:91px;
  height:21px;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#A1A1A1;
}
#u96902 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u96903_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:31px;
}
#u96903 {
  position:absolute;
  left:67px;
  top:301px;
  width:61px;
  height:21px;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#A1A1A1;
}
#u96904 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u96905_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:20px;
}
#u96905 {
  position:absolute;
  left:40px;
  top:299px;
  width:18px;
  height:20px;
}
#u96906 {
  position:absolute;
  left:2px;
  top:2px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u96907_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:31px;
}
#u96907 {
  position:absolute;
  left:65px;
  top:334px;
  width:76px;
  height:21px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#A1A1A1;
}
#u96908 {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  white-space:nowrap;
}
#u96909_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:20px;
}
#u96909 {
  position:absolute;
  left:38px;
  top:332px;
  width:18px;
  height:20px;
}
#u96910 {
  position:absolute;
  left:2px;
  top:2px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u96911_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1175px;
  height:449px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(188, 188, 188, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei';
  font-weight:200;
  font-style:normal;
}
#u96911 {
  position:absolute;
  left:233px;
  top:86px;
  width:1175px;
  height:449px;
  font-family:'Microsoft YaHei';
  font-weight:200;
  font-style:normal;
}
#u96912 {
  position:absolute;
  left:2px;
  top:216px;
  width:1171px;
  visibility:hidden;
  word-wrap:break-word;
}
#u96913_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1181px;
  height:40px;
  background:inherit;
  background-color:rgba(174, 174, 174, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(188, 188, 188, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei';
  font-weight:200;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:left;
}
#u96913 {
  position:absolute;
  left:232px;
  top:46px;
  width:1181px;
  height:40px;
  font-family:'Microsoft YaHei';
  font-weight:200;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:left;
}
#u96914 {
  position:absolute;
  left:2px;
  top:8px;
  width:1177px;
  word-wrap:break-word;
}
#u96915_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:33px;
}
#u96915 {
  position:absolute;
  left:663px;
  top:452px;
  width:69px;
  height:33px;
  font-family:'';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u96916 {
  position:absolute;
  left:2px;
  top:6px;
  width:65px;
  word-wrap:break-word;
}
#u96917_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:30px;
}
#u96917 {
  position:absolute;
  left:250px;
  top:113px;
  width:95px;
  height:30px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u96918 {
  position:absolute;
  left:2px;
  top:5px;
  width:91px;
  word-wrap:break-word;
}
#u96919_div {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u96919 {
  position:absolute;
  left:395px;
  top:113px;
  width:181px;
  height:30px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u96920 {
  position:absolute;
  left:2px;
  top:7px;
  width:177px;
  visibility:hidden;
  word-wrap:break-word;
}
#u96921_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:30px;
}
#u96921 {
  position:absolute;
  left:251px;
  top:219px;
  width:117px;
  height:30px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u96922 {
  position:absolute;
  left:2px;
  top:5px;
  width:113px;
  word-wrap:break-word;
}
#u96923_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u96923 {
  position:absolute;
  left:395px;
  top:264px;
  width:140px;
  height:80px;
}
#u96924 {
  position:absolute;
  left:2px;
  top:32px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u96925_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:29px;
  background:inherit;
  background-color:rgba(0, 204, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u96925 {
  position:absolute;
  left:395px;
  top:225px;
  width:85px;
  height:29px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u96926 {
  position:absolute;
  left:2px;
  top:4px;
  width:81px;
  word-wrap:break-word;
}
#u96927_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:33px;
}
#u96927 {
  position:absolute;
  left:748px;
  top:452px;
  width:69px;
  height:33px;
  font-family:'';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u96928 {
  position:absolute;
  left:2px;
  top:6px;
  width:65px;
  word-wrap:break-word;
}
#u96929_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:30px;
}
#u96929 {
  position:absolute;
  left:250px;
  top:172px;
  width:95px;
  height:30px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u96930 {
  position:absolute;
  left:2px;
  top:5px;
  width:91px;
  word-wrap:break-word;
}
#u96931_div {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u96931 {
  position:absolute;
  left:395px;
  top:172px;
  width:181px;
  height:30px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u96932 {
  position:absolute;
  left:2px;
  top:7px;
  width:177px;
  visibility:hidden;
  word-wrap:break-word;
}
#u96933_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:30px;
}
#u96933 {
  position:absolute;
  left:260px;
  top:399px;
  width:95px;
  height:30px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u96934 {
  position:absolute;
  left:2px;
  top:5px;
  width:91px;
  word-wrap:break-word;
}
#u96935 {
  position:absolute;
  left:390px;
  top:403px;
  width:209px;
  height:22px;
}
#u96935_input {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:22px;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u96935_input {
  font-family:'FontAwesome';
}
#u96935_input:disabled {
  color:grayText;
}
