body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:374px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u34195_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:660px;
}
#u34195 {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:660px;
}
#u34196 {
  position:absolute;
  left:2px;
  top:322px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34197 {
  position:absolute;
  left:0px;
  top:39px;
  width:100px;
  height:34px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u34198 {
  position:absolute;
  left:10px;
  top:83px;
  width:356px;
  height:384px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
