body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:736px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u33964_img {
  position:absolute;
  left:0px;
  top:0px;
  width:348px;
  height:15px;
}
#u33964 {
  position:absolute;
  left:16px;
  top:0px;
  width:348px;
  height:15px;
  font-family:'HiraginoSansGB-W3', '冬青黑体简体中文 W3', '冬青黑体简体中文';
  font-weight:300;
  font-style:normal;
}
#u33965 {
  position:absolute;
  left:2px;
  top:0px;
  width:344px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33966_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u33966 {
  position:absolute;
  left:4px;
  top:32px;
  width:23px;
  height:23px;
}
#u33967 {
  position:absolute;
  left:2px;
  top:4px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33968_img {
  position:absolute;
  left:0px;
  top:0px;
  width:372px;
  height:2px;
}
#u33968 {
  position:absolute;
  left:2px;
  top:65px;
  width:371px;
  height:1px;
}
#u33969 {
  position:absolute;
  left:2px;
  top:-8px;
  width:367px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33970 {
  position:absolute;
  left:4px;
  top:29px;
  width:51px;
  height:31px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u33971_img {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:599px;
}
#u33971 {
  position:absolute;
  left:0px;
  top:65px;
  width:373px;
  height:599px;
}
#u33972 {
  position:absolute;
  left:2px;
  top:292px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33973_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u33973 {
  position:absolute;
  left:39px;
  top:496px;
  width:81px;
  height:22px;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u33974 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  word-wrap:break-word;
}
#u33975 {
  position:absolute;
  left:4px;
  top:619px;
  width:369px;
  height:45px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u33976_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u33976 {
  position:absolute;
  left:438px;
  top:468px;
  width:300px;
  height:170px;
}
#u33977 {
  position:absolute;
  left:2px;
  top:76px;
  width:296px;
  word-wrap:break-word;
}
#u33979 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u33980_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:40px;
}
#u33980 {
  position:absolute;
  left:-1px;
  top:25px;
  width:374px;
  height:40px;
}
#u33981 {
  position:absolute;
  left:2px;
  top:12px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33982_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:32px;
}
#u33982 {
  position:absolute;
  left:-1px;
  top:0px;
  width:374px;
  height:32px;
}
#u33983 {
  position:absolute;
  left:2px;
  top:8px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33984_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:35px;
  color:#FFFFFF;
  text-align:center;
}
#u33984 {
  position:absolute;
  left:-2px;
  top:33px;
  width:30px;
  height:30px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:35px;
  color:#FFFFFF;
  text-align:center;
}
#u33985 {
  position:absolute;
  left:0px;
  top:-3px;
  width:30px;
  word-wrap:break-word;
}
#u33986_div {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u33986 {
  position:absolute;
  left:128px;
  top:32px;
  width:134px;
  height:22px;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u33987 {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  word-wrap:break-word;
}
#u33988 {
  position:absolute;
  left:4px;
  top:29px;
  width:51px;
  height:31px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
