body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:374px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u17272_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:660px;
}
#u17272 {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:660px;
}
#u17273 {
  position:absolute;
  left:2px;
  top:322px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17274_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:15px;
}
#u17274 {
  position:absolute;
  left:16px;
  top:87px;
  width:62px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:15px;
}
#u17275 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u17276_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:23px;
  background:inherit;
  background-color:rgba(214, 21, 24, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u17276 {
  position:absolute;
  left:134px;
  top:39px;
  width:113px;
  height:23px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u17277 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  word-wrap:break-word;
}
#u17278_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:20px;
}
#u17278 {
  position:absolute;
  left:328px;
  top:88px;
  width:31px;
  height:20px;
}
#u17279 {
  position:absolute;
  left:2px;
  top:2px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17280 {
  position:absolute;
  left:11px;
  top:78px;
  width:307px;
  height:236px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u17282_div {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:33px;
  background:inherit;
  background-color:rgba(214, 21, 24, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17282 {
  position:absolute;
  left:10px;
  top:36px;
  width:32px;
  height:33px;
}
#u17283 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17284_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:18px;
}
#u17284 {
  position:absolute;
  left:17px;
  top:42px;
  width:10px;
  height:18px;
}
#u17285 {
  position:absolute;
  left:2px;
  top:1px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17286 {
  position:absolute;
  left:6px;
  top:36px;
  width:40px;
  height:41px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
