body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u34025_img {
  position:absolute;
  left:0px;
  top:0px;
  width:348px;
  height:15px;
}
#u34025 {
  position:absolute;
  left:0px;
  top:0px;
  width:348px;
  height:15px;
  font-family:'HiraginoSansGB-W3', '冬青黑体简体中文 W3', '冬青黑体简体中文';
  font-weight:300;
  font-style:normal;
}
#u34026 {
  position:absolute;
  left:2px;
  top:0px;
  width:344px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34027_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u34027 {
  position:absolute;
  left:136px;
  top:32px;
  width:81px;
  height:22px;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u34028 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  word-wrap:break-word;
}
#u34029_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u34029 {
  position:absolute;
  left:0px;
  top:31px;
  width:23px;
  height:23px;
}
#u34030 {
  position:absolute;
  left:2px;
  top:4px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34031_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:596px;
}
#u34031 {
  position:absolute;
  left:0px;
  top:70px;
  width:375px;
  height:596px;
}
#u34032 {
  position:absolute;
  left:2px;
  top:290px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34033 {
  position:absolute;
  left:258px;
  top:70px;
  width:101px;
  height:38px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u34034_img {
  position:absolute;
  left:0px;
  top:0px;
  width:348px;
  height:15px;
}
#u34034 {
  position:absolute;
  left:13px;
  top:0px;
  width:348px;
  height:15px;
  font-family:'HiraginoSansGB-W3', '冬青黑体简体中文 W3', '冬青黑体简体中文';
  font-weight:300;
  font-style:normal;
}
#u34035 {
  position:absolute;
  left:2px;
  top:0px;
  width:344px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34037 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u34038_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:40px;
}
#u34038 {
  position:absolute;
  left:1px;
  top:25px;
  width:374px;
  height:40px;
}
#u34039 {
  position:absolute;
  left:2px;
  top:12px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34040_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:32px;
}
#u34040 {
  position:absolute;
  left:1px;
  top:0px;
  width:374px;
  height:32px;
}
#u34041 {
  position:absolute;
  left:2px;
  top:8px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34042_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:35px;
  color:#FFFFFF;
  text-align:center;
}
#u34042 {
  position:absolute;
  left:0px;
  top:33px;
  width:30px;
  height:30px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:35px;
  color:#FFFFFF;
  text-align:center;
}
#u34043 {
  position:absolute;
  left:0px;
  top:-3px;
  width:30px;
  word-wrap:break-word;
}
#u34044_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u34044 {
  position:absolute;
  left:149px;
  top:32px;
  width:81px;
  height:22px;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u34045 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  word-wrap:break-word;
}
#u34046 {
  position:absolute;
  left:0px;
  top:29px;
  width:51px;
  height:31px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u34048_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:24px;
  height:5px;
}
#u34048 {
  position:absolute;
  left:343px;
  top:41px;
  width:21px;
  height:2px;
}
#u34049 {
  position:absolute;
  left:2px;
  top:-7px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34050_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:5px;
  height:23px;
}
#u34050 {
  position:absolute;
  left:353px;
  top:32px;
  width:2px;
  height:20px;
}
#u34051 {
  position:absolute;
  left:2px;
  top:2px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34052 {
  position:absolute;
  left:333px;
  top:24px;
  width:36px;
  height:38px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u34053 {
  position:absolute;
  left:8px;
  top:70px;
  width:101px;
  height:38px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u34054 {
  position:absolute;
  left:132px;
  top:70px;
  width:101px;
  height:38px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
