body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:316px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u46689_div {
  position:absolute;
  left:0px;
  top:0px;
  width:432px;
  height:700px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u46689 {
  position:absolute;
  left:-58px;
  top:-34px;
  width:432px;
  height:700px;
}
#u46690 {
  position:absolute;
  left:2px;
  top:342px;
  width:428px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46692 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u46693_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:40px;
}
#u46693 {
  position:absolute;
  left:-1px;
  top:23px;
  width:374px;
  height:40px;
}
#u46694 {
  position:absolute;
  left:2px;
  top:12px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46695_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:32px;
}
#u46695 {
  position:absolute;
  left:-1px;
  top:-2px;
  width:374px;
  height:32px;
}
#u46696 {
  position:absolute;
  left:2px;
  top:8px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46697_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:35px;
  color:#FFFFFF;
  text-align:center;
}
#u46697 {
  position:absolute;
  left:-2px;
  top:31px;
  width:30px;
  height:30px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:35px;
  color:#FFFFFF;
  text-align:center;
}
#u46698 {
  position:absolute;
  left:0px;
  top:-3px;
  width:30px;
  word-wrap:break-word;
}
#u46699_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u46699 {
  position:absolute;
  left:144px;
  top:35px;
  width:73px;
  height:25px;
  font-size:18px;
  color:#FFFFFF;
}
#u46700 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u46701_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:145px;
}
#u46701 {
  position:absolute;
  left:30px;
  top:76px;
  width:1px;
  height:144px;
}
#u46702 {
  position:absolute;
  left:2px;
  top:64px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46703_div {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#999999;
}
#u46703 {
  position:absolute;
  left:55px;
  top:208px;
  width:176px;
  height:33px;
  font-size:13px;
  color:#999999;
}
#u46704 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  word-wrap:break-word;
}
#u46705_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#999999;
}
#u46705 {
  position:absolute;
  left:55px;
  top:145px;
  width:120px;
  height:33px;
  font-size:13px;
  color:#999999;
}
#u46706 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  white-space:nowrap;
}
#u46707_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u46707 {
  position:absolute;
  left:25px;
  top:210px;
  width:10px;
  height:10px;
}
#u46708 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46709_div {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#999999;
}
#u46709 {
  position:absolute;
  left:55px;
  top:74px;
  width:105px;
  height:33px;
  font-size:13px;
  color:#999999;
}
#u46710 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u46711_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u46711 {
  position:absolute;
  left:26px;
  top:150px;
  width:10px;
  height:10px;
}
#u46712 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46713_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u46713 {
  position:absolute;
  left:25px;
  top:76px;
  width:12px;
  height:12px;
}
#u46714 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46715_div {
  position:absolute;
  left:0px;
  top:0px;
  width:364px;
  height:409px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u46715 {
  position:absolute;
  left:8px;
  top:257px;
  width:364px;
  height:409px;
}
#u46716 {
  position:absolute;
  left:2px;
  top:196px;
  width:360px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46717 {
  position:absolute;
  left:21px;
  top:74px;
  width:319px;
  height:48px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
