body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:374px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u34130_img {
  position:absolute;
  left:0px;
  top:0px;
  width:348px;
  height:15px;
}
#u34130 {
  position:absolute;
  left:16px;
  top:0px;
  width:348px;
  height:15px;
  font-family:'HiraginoSansGB-W3', '冬青黑体简体中文 W3', '冬青黑体简体中文';
  font-weight:300;
  font-style:normal;
}
#u34131 {
  position:absolute;
  left:2px;
  top:0px;
  width:344px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34132_div {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#1E1E1E;
}
#u34132 {
  position:absolute;
  left:155px;
  top:31px;
  width:76px;
  height:22px;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#1E1E1E;
}
#u34133 {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  word-wrap:break-word;
}
#u34134_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u34134 {
  position:absolute;
  left:4px;
  top:32px;
  width:23px;
  height:23px;
}
#u34135 {
  position:absolute;
  left:2px;
  top:4px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34136_div {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#1E1E1E;
  text-align:right;
}
#u34136 {
  position:absolute;
  left:288px;
  top:29px;
  width:76px;
  height:19px;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#1E1E1E;
  text-align:right;
}
#u34137 {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  word-wrap:break-word;
}
#u34138_div {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:70px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u34138 {
  position:absolute;
  left:0px;
  top:2px;
  width:374px;
  height:70px;
  opacity:0.95;
}
#u34139 {
  position:absolute;
  left:2px;
  top:27px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34140_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:596px;
}
#u34140 {
  position:absolute;
  left:0px;
  top:70px;
  width:374px;
  height:596px;
}
#u34141 {
  position:absolute;
  left:2px;
  top:290px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34142_div {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:15px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:right;
}
#u34142 {
  position:absolute;
  left:249px;
  top:649px;
  width:47px;
  height:15px;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:right;
}
#u34143 {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  word-wrap:break-word;
}
#u34144 {
  position:absolute;
  left:16px;
  top:404px;
  width:171px;
  height:56px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u34145 {
  position:absolute;
  left:187px;
  top:404px;
  width:170px;
  height:56px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
