body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:742px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u41811_div {
  position:absolute;
  left:0px;
  top:0px;
  width:383px;
  height:65px;
  background:inherit;
  background-color:rgba(215, 0, 15, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u41811 {
  position:absolute;
  left:0px;
  top:0px;
  width:383px;
  height:65px;
}
#u41812 {
  position:absolute;
  left:2px;
  top:24px;
  width:379px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41813_div {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u41813 {
  position:absolute;
  left:155px;
  top:31px;
  width:76px;
  height:22px;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u41814 {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  word-wrap:break-word;
}
#u41815_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:596px;
}
#u41815 {
  position:absolute;
  left:0px;
  top:70px;
  width:374px;
  height:596px;
}
#u41816 {
  position:absolute;
  left:2px;
  top:290px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41817_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:32px;
}
#u41817 {
  position:absolute;
  left:1px;
  top:-1px;
  width:375px;
  height:32px;
}
#u41818 {
  position:absolute;
  left:2px;
  top:8px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41819_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u41819 {
  position:absolute;
  left:251px;
  top:247px;
  width:113px;
  height:40px;
}
#u41820 {
  position:absolute;
  left:2px;
  top:12px;
  width:109px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41821_div {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u41821 {
  position:absolute;
  left:328px;
  top:123px;
  width:36px;
  height:33px;
}
#u41822 {
  position:absolute;
  left:2px;
  top:8px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41823 {
  position:absolute;
  left:16px;
  top:123px;
  width:361px;
  height:365px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u41825_div {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:33px;
  background:inherit;
  background-color:rgba(214, 21, 24, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u41825 {
  position:absolute;
  left:14px;
  top:26px;
  width:32px;
  height:33px;
}
#u41826 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41827_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:18px;
}
#u41827 {
  position:absolute;
  left:21px;
  top:32px;
  width:10px;
  height:18px;
}
#u41828 {
  position:absolute;
  left:2px;
  top:1px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41829 {
  position:absolute;
  left:11px;
  top:25px;
  width:54px;
  height:34px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u41830_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u41830 {
  position:absolute;
  left:442px;
  top:129px;
  width:300px;
  height:170px;
}
#u41831 {
  position:absolute;
  left:2px;
  top:76px;
  width:296px;
  word-wrap:break-word;
}
