body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:792px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2688_img {
  position:absolute;
  left:0px;
  top:0px;
  width:307px;
  height:100px;
}
#u2688 {
  position:absolute;
  left:485px;
  top:700px;
  width:307px;
  height:100px;
  text-align:left;
}
#u2689 {
  position:absolute;
  left:2px;
  top:5px;
  width:303px;
  word-wrap:break-word;
}
#u2690_img {
  position:absolute;
  left:0px;
  top:0px;
  width:307px;
  height:100px;
}
#u2690 {
  position:absolute;
  left:18px;
  top:700px;
  width:307px;
  height:100px;
  text-align:left;
}
#u2691 {
  position:absolute;
  left:2px;
  top:-4px;
  width:303px;
  word-wrap:break-word;
}
#u2692_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:660px;
}
#u2692 {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:660px;
}
#u2693 {
  position:absolute;
  left:2px;
  top:322px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2695_div {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:33px;
  background:inherit;
  background-color:rgba(214, 21, 24, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2695 {
  position:absolute;
  left:10px;
  top:33px;
  width:32px;
  height:33px;
}
#u2696 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2697_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:18px;
}
#u2697 {
  position:absolute;
  left:17px;
  top:39px;
  width:10px;
  height:18px;
}
#u2698 {
  position:absolute;
  left:2px;
  top:1px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2699 {
  position:absolute;
  left:10px;
  top:32px;
  width:27px;
  height:28px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2700 {
  position:absolute;
  left:336px;
  top:38px;
  width:27px;
  height:28px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2701 {
  position:absolute;
  left:214px;
  top:112px;
  width:27px;
  height:28px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2702 {
  position:absolute;
  left:263px;
  top:112px;
  width:32px;
  height:28px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2703 {
  position:absolute;
  left:293px;
  top:364px;
  width:70px;
  height:41px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2704_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2704 {
  position:absolute;
  left:416px;
  top:134px;
  width:300px;
  height:170px;
}
#u2705 {
  position:absolute;
  left:2px;
  top:76px;
  width:296px;
  word-wrap:break-word;
}
