body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:374px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u34178_img {
  position:absolute;
  left:0px;
  top:0px;
  width:348px;
  height:15px;
}
#u34178 {
  position:absolute;
  left:16px;
  top:0px;
  width:348px;
  height:15px;
  font-family:'HiraginoSansGB-W3', '冬青黑体简体中文 W3', '冬青黑体简体中文';
  font-weight:300;
  font-style:normal;
}
#u34179 {
  position:absolute;
  left:2px;
  top:0px;
  width:344px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34180_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u34180 {
  position:absolute;
  left:163px;
  top:31px;
  width:37px;
  height:22px;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u34181 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u34182_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u34182 {
  position:absolute;
  left:4px;
  top:32px;
  width:23px;
  height:23px;
}
#u34183 {
  position:absolute;
  left:2px;
  top:4px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34184_div {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:96px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u34184 {
  position:absolute;
  left:0px;
  top:569px;
  width:374px;
  height:96px;
}
#u34185 {
  position:absolute;
  left:2px;
  top:40px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34186_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#EDEDED;
}
#u34186 {
  position:absolute;
  left:293px;
  top:82px;
  width:71px;
  height:27px;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#EDEDED;
}
#u34187 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34188_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u34188 {
  position:absolute;
  left:327px;
  top:29px;
  width:33px;
  height:19px;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u34189 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u34190_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:596px;
}
#u34190 {
  position:absolute;
  left:0px;
  top:70px;
  width:374px;
  height:596px;
}
#u34191 {
  position:absolute;
  left:2px;
  top:290px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34192_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:19px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u34192 {
  position:absolute;
  left:201px;
  top:646px;
  width:43px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u34193 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  word-wrap:break-word;
}
#u34194 {
  position:absolute;
  left:46px;
  top:361px;
  width:283px;
  height:56px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
