body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:374px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u33377_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:666px;
}
#u33377 {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:666px;
}
#u33378 {
  position:absolute;
  left:2px;
  top:325px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33379 {
  position:absolute;
  left:11px;
  top:9px;
  width:59px;
  height:56px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u33380 {
  position:absolute;
  left:315px;
  top:9px;
  width:59px;
  height:56px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
