body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:709px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u20028_img {
  position:absolute;
  left:0px;
  top:0px;
  width:348px;
  height:15px;
}
#u20028 {
  position:absolute;
  left:3px;
  top:0px;
  width:348px;
  height:15px;
  font-family:'HiraginoSansGB-W3', '冬青黑体简体中文 W3', '冬青黑体简体中文';
  font-weight:300;
  font-style:normal;
}
#u20029 {
  position:absolute;
  left:2px;
  top:0px;
  width:344px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20030_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:555px;
}
#u20030 {
  position:absolute;
  left:0px;
  top:65px;
  width:374px;
  height:555px;
}
#u20031 {
  position:absolute;
  left:2px;
  top:270px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20032_div {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:130px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20032 {
  position:absolute;
  left:0px;
  top:536px;
  width:374px;
  height:130px;
}
#u20033 {
  position:absolute;
  left:2px;
  top:57px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20034_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20034 {
  position:absolute;
  left:410px;
  top:109px;
  width:300px;
  height:170px;
}
#u20035 {
  position:absolute;
  left:2px;
  top:76px;
  width:296px;
  word-wrap:break-word;
}
#u20037 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u20038_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:40px;
}
#u20038 {
  position:absolute;
  left:0px;
  top:25px;
  width:374px;
  height:40px;
}
#u20039 {
  position:absolute;
  left:2px;
  top:12px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20040_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:32px;
}
#u20040 {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:32px;
}
#u20041 {
  position:absolute;
  left:2px;
  top:8px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20042_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:35px;
  color:#FFFFFF;
  text-align:center;
}
#u20042 {
  position:absolute;
  left:-1px;
  top:33px;
  width:30px;
  height:30px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:35px;
  color:#FFFFFF;
  text-align:center;
}
#u20043 {
  position:absolute;
  left:0px;
  top:-3px;
  width:30px;
  word-wrap:break-word;
}
#u20044_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u20044 {
  position:absolute;
  left:154px;
  top:28px;
  width:91px;
  height:22px;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u20045 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u20046_div {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:396px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20046 {
  position:absolute;
  left:-1px;
  top:65px;
  width:374px;
  height:396px;
}
#u20047 {
  position:absolute;
  left:2px;
  top:190px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20048_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:44px;
}
#u20048 {
  position:absolute;
  left:-1px;
  top:65px;
  width:374px;
  height:44px;
}
#u20049 {
  position:absolute;
  left:2px;
  top:14px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20050_div {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u20050 {
  position:absolute;
  left:14px;
  top:119px;
  width:209px;
  height:19px;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u20051 {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  white-space:nowrap;
}
#u20052_div {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u20052 {
  position:absolute;
  left:14px;
  top:168px;
  width:215px;
  height:19px;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u20053 {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  word-wrap:break-word;
}
#u20054_div {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u20054 {
  position:absolute;
  left:14px;
  top:221px;
  width:209px;
  height:19px;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u20055 {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  word-wrap:break-word;
}
#u20056_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#999999;
}
#u20056 {
  position:absolute;
  left:36px;
  top:80px;
  width:81px;
  height:19px;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#999999;
}
#u20057 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u20058_img {
  position:absolute;
  left:0px;
  top:0px;
  width:352px;
  height:2px;
}
#u20058 {
  position:absolute;
  left:14px;
  top:148px;
  width:351px;
  height:1px;
}
#u20059 {
  position:absolute;
  left:2px;
  top:-8px;
  width:347px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20060_img {
  position:absolute;
  left:0px;
  top:0px;
  width:352px;
  height:2px;
}
#u20060 {
  position:absolute;
  left:14px;
  top:197px;
  width:351px;
  height:1px;
}
#u20061 {
  position:absolute;
  left:2px;
  top:-8px;
  width:347px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20062_img {
  position:absolute;
  left:0px;
  top:0px;
  width:352px;
  height:2px;
}
#u20062 {
  position:absolute;
  left:14px;
  top:250px;
  width:351px;
  height:1px;
}
#u20063 {
  position:absolute;
  left:2px;
  top:-8px;
  width:347px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20064 {
  position:absolute;
  left:9px;
  top:109px;
  width:354px;
  height:148px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
