body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:316px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u46467_div {
  position:absolute;
  left:0px;
  top:0px;
  width:432px;
  height:700px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u46467 {
  position:absolute;
  left:-58px;
  top:-34px;
  width:432px;
  height:700px;
}
#u46468 {
  position:absolute;
  left:2px;
  top:342px;
  width:428px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46470 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u46471_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:40px;
}
#u46471 {
  position:absolute;
  left:-1px;
  top:23px;
  width:374px;
  height:40px;
}
#u46472 {
  position:absolute;
  left:2px;
  top:12px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46473_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:32px;
}
#u46473 {
  position:absolute;
  left:-1px;
  top:-2px;
  width:374px;
  height:32px;
}
#u46474 {
  position:absolute;
  left:2px;
  top:8px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46475_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:35px;
  color:#FFFFFF;
  text-align:center;
}
#u46475 {
  position:absolute;
  left:-2px;
  top:31px;
  width:30px;
  height:30px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:35px;
  color:#FFFFFF;
  text-align:center;
}
#u46476 {
  position:absolute;
  left:0px;
  top:-3px;
  width:30px;
  word-wrap:break-word;
}
#u46477_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u46477 {
  position:absolute;
  left:144px;
  top:35px;
  width:73px;
  height:25px;
  font-size:18px;
  color:#FFFFFF;
}
#u46478 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u46479_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:145px;
}
#u46479 {
  position:absolute;
  left:30px;
  top:76px;
  width:1px;
  height:144px;
}
#u46480 {
  position:absolute;
  left:2px;
  top:64px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46481_div {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#999999;
}
#u46481 {
  position:absolute;
  left:55px;
  top:208px;
  width:176px;
  height:33px;
  font-size:13px;
  color:#999999;
}
#u46482 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  word-wrap:break-word;
}
#u46483_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#999999;
}
#u46483 {
  position:absolute;
  left:55px;
  top:145px;
  width:120px;
  height:33px;
  font-size:13px;
  color:#999999;
}
#u46484 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  white-space:nowrap;
}
#u46485_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u46485 {
  position:absolute;
  left:25px;
  top:210px;
  width:10px;
  height:10px;
}
#u46486 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46487_div {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#999999;
}
#u46487 {
  position:absolute;
  left:55px;
  top:74px;
  width:132px;
  height:33px;
  font-size:13px;
  color:#999999;
}
#u46488 {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  white-space:nowrap;
}
#u46489_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u46489 {
  position:absolute;
  left:26px;
  top:150px;
  width:10px;
  height:10px;
}
#u46490 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46491_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u46491 {
  position:absolute;
  left:25px;
  top:76px;
  width:12px;
  height:12px;
}
#u46492 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46493_div {
  position:absolute;
  left:0px;
  top:0px;
  width:364px;
  height:409px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u46493 {
  position:absolute;
  left:8px;
  top:257px;
  width:364px;
  height:409px;
}
#u46494 {
  position:absolute;
  left:2px;
  top:196px;
  width:360px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46495 {
  position:absolute;
  left:8px;
  top:70px;
  width:319px;
  height:48px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
