body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:320px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2932_div {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:665px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2932 {
  position:absolute;
  left:-55px;
  top:-8px;
  width:430px;
  height:665px;
}
#u2933 {
  position:absolute;
  left:2px;
  top:324px;
  width:426px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2934_img {
  position:absolute;
  left:0px;
  top:0px;
  width:371px;
  height:70px;
}
#u2934 {
  position:absolute;
  left:-1px;
  top:66px;
  width:371px;
  height:70px;
}
#u2935 {
  position:absolute;
  left:2px;
  top:27px;
  width:367px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2936_img {
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:2px;
}
#u2936 {
  position:absolute;
  left:3px;
  top:141px;
  width:369px;
  height:1px;
}
#u2937 {
  position:absolute;
  left:2px;
  top:-8px;
  width:365px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2938_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  text-align:center;
}
#u2938 {
  position:absolute;
  left:334px;
  top:90px;
  width:30px;
  height:30px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  text-align:center;
}
#u2939 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  word-wrap:break-word;
}
#u2940_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:2px;
}
#u2940 {
  position:absolute;
  left:0px;
  top:65px;
  width:373px;
  height:1px;
}
#u2941 {
  position:absolute;
  left:2px;
  top:-8px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2942_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:70px;
}
#u2942 {
  position:absolute;
  left:371px;
  top:474px;
  width:1px;
  height:70px;
}
#u2943 {
  position:absolute;
  left:2px;
  top:27px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2944_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:603px;
}
#u2944 {
  position:absolute;
  left:371px;
  top:544px;
  width:1px;
  height:603px;
}
#u2945 {
  position:absolute;
  left:2px;
  top:294px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2946_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:673px;
}
#u2946 {
  position:absolute;
  left:372px;
  top:474px;
  width:2px;
  height:673px;
}
#u2947 {
  position:absolute;
  left:2px;
  top:328px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2948_img {
  position:absolute;
  left:0px;
  top:0px;
  width:378px;
  height:2px;
}
#u2948 {
  position:absolute;
  left:-5px;
  top:214px;
  width:377px;
  height:1px;
}
#u2949 {
  position:absolute;
  left:2px;
  top:-8px;
  width:373px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2950 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2951_img {
  position:absolute;
  left:0px;
  top:0px;
  width:366px;
  height:70px;
}
#u2951 {
  position:absolute;
  left:-2px;
  top:142px;
  width:366px;
  height:70px;
}
#u2952 {
  position:absolute;
  left:2px;
  top:27px;
  width:362px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2953_div {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u2953 {
  position:absolute;
  left:46px;
  top:156px;
  width:118px;
  height:23px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u2954 {
  position:absolute;
  left:2px;
  top:2px;
  width:114px;
  word-wrap:break-word;
}
#u2955_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  text-align:center;
}
#u2955 {
  position:absolute;
  left:334px;
  top:167px;
  width:30px;
  height:30px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  text-align:center;
}
#u2956 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  word-wrap:break-word;
}
#u2958 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2959_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:40px;
}
#u2959 {
  position:absolute;
  left:-1px;
  top:26px;
  width:374px;
  height:40px;
}
#u2960 {
  position:absolute;
  left:2px;
  top:12px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2961_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:32px;
}
#u2961 {
  position:absolute;
  left:-1px;
  top:1px;
  width:374px;
  height:32px;
}
#u2962 {
  position:absolute;
  left:2px;
  top:8px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2963_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:35px;
  color:#FFFFFF;
  text-align:center;
}
#u2963 {
  position:absolute;
  left:-2px;
  top:34px;
  width:30px;
  height:30px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:35px;
  color:#FFFFFF;
  text-align:center;
}
#u2964 {
  position:absolute;
  left:0px;
  top:-3px;
  width:30px;
  word-wrap:break-word;
}
#u2965_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  color:#FFFFFF;
}
#u2965 {
  position:absolute;
  left:139px;
  top:36px;
  width:73px;
  height:25px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  color:#FFFFFF;
}
#u2966 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u2967_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFCC00;
  text-align:center;
}
#u2967 {
  position:absolute;
  left:293px;
  top:73px;
  width:30px;
  height:30px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFCC00;
  text-align:center;
}
#u2968 {
  position:absolute;
  left:0px;
  top:6px;
  width:30px;
  word-wrap:break-word;
}
#u2969_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#CCCCCC;
  text-align:center;
}
#u2969 {
  position:absolute;
  left:293px;
  top:73px;
  width:30px;
  height:30px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#CCCCCC;
  text-align:center;
}
#u2970 {
  position:absolute;
  left:0px;
  top:6px;
  width:30px;
  word-wrap:break-word;
}
#u2971_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFCC00;
  text-align:center;
}
#u2971 {
  position:absolute;
  left:294px;
  top:153px;
  width:30px;
  height:30px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFCC00;
  text-align:center;
}
#u2972 {
  position:absolute;
  left:0px;
  top:6px;
  width:30px;
  word-wrap:break-word;
}
#u2973_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#CCCCCC;
  text-align:center;
}
#u2973 {
  position:absolute;
  left:294px;
  top:153px;
  width:30px;
  height:30px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#CCCCCC;
  text-align:center;
}
#u2974 {
  position:absolute;
  left:0px;
  top:6px;
  width:30px;
  word-wrap:break-word;
}
