body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:708px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u34542_img {
  position:absolute;
  left:0px;
  top:0px;
  width:348px;
  height:15px;
}
#u34542 {
  position:absolute;
  left:16px;
  top:0px;
  width:348px;
  height:15px;
  font-family:'HiraginoSansGB-W3', '冬青黑体简体中文 W3', '冬青黑体简体中文';
  font-weight:300;
  font-style:normal;
}
#u34543 {
  position:absolute;
  left:2px;
  top:0px;
  width:344px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34544_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:596px;
}
#u34544 {
  position:absolute;
  left:-1px;
  top:70px;
  width:375px;
  height:596px;
}
#u34545 {
  position:absolute;
  left:2px;
  top:290px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34546_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u34546 {
  position:absolute;
  left:409px;
  top:373px;
  width:300px;
  height:170px;
  text-align:left;
}
#u34547 {
  position:absolute;
  left:2px;
  top:67px;
  width:296px;
  word-wrap:break-word;
}
#u34549 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u34550_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:40px;
}
#u34550 {
  position:absolute;
  left:1px;
  top:25px;
  width:374px;
  height:40px;
}
#u34551 {
  position:absolute;
  left:2px;
  top:12px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34552_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:32px;
}
#u34552 {
  position:absolute;
  left:1px;
  top:0px;
  width:374px;
  height:32px;
}
#u34553 {
  position:absolute;
  left:2px;
  top:8px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34554_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:35px;
  color:#FFFFFF;
  text-align:center;
}
#u34554 {
  position:absolute;
  left:0px;
  top:33px;
  width:30px;
  height:30px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:35px;
  color:#FFFFFF;
  text-align:center;
}
#u34555 {
  position:absolute;
  left:0px;
  top:-3px;
  width:30px;
  word-wrap:break-word;
}
#u34556_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u34556 {
  position:absolute;
  left:152px;
  top:32px;
  width:109px;
  height:22px;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u34557 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
