body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:373px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u38938_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:700px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u38938 {
  position:absolute;
  left:0px;
  top:-40px;
  width:375px;
  height:700px;
}
#u38939 {
  position:absolute;
  left:2px;
  top:342px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38940_div {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:542px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u38940 {
  position:absolute;
  left:0px;
  top:118px;
  width:374px;
  height:542px;
}
#u38941 {
  position:absolute;
  left:2px;
  top:263px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38942 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u38943_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:40px;
}
#u38943 {
  position:absolute;
  left:-1px;
  top:25px;
  width:375px;
  height:40px;
}
#u38944 {
  position:absolute;
  left:2px;
  top:12px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38945_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:32px;
}
#u38945 {
  position:absolute;
  left:-1px;
  top:0px;
  width:375px;
  height:32px;
}
#u38946 {
  position:absolute;
  left:2px;
  top:8px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38947_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:35px;
  color:#FFFFFF;
  text-align:center;
}
#u38947 {
  position:absolute;
  left:-2px;
  top:33px;
  width:30px;
  height:30px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:35px;
  color:#FFFFFF;
  text-align:center;
}
#u38948 {
  position:absolute;
  left:0px;
  top:-3px;
  width:30px;
  word-wrap:break-word;
}
#u38949_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u38949 {
  position:absolute;
  left:145px;
  top:34px;
  width:73px;
  height:25px;
  font-size:18px;
  color:#FFFFFF;
}
#u38950 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u38951_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:24px;
  height:5px;
}
#u38951 {
  position:absolute;
  left:327px;
  top:45px;
  width:21px;
  height:2px;
}
#u38952 {
  position:absolute;
  left:2px;
  top:-7px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38953_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:5px;
  height:23px;
}
#u38953 {
  position:absolute;
  left:337px;
  top:36px;
  width:2px;
  height:20px;
}
#u38954 {
  position:absolute;
  left:2px;
  top:2px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38955 {
  position:absolute;
  left:316px;
  top:27px;
  width:50px;
  height:39px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u38956 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u38957_div {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:148px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u38957 {
  position:absolute;
  left:453px;
  top:448px;
  width:374px;
  height:148px;
}
#u38958 {
  position:absolute;
  left:2px;
  top:66px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38959_div {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FF0000;
}
#u38959 {
  position:absolute;
  left:453px;
  top:612px;
  width:374px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FF0000;
}
#u38960 {
  position:absolute;
  left:2px;
  top:10px;
  width:370px;
  word-wrap:break-word;
}
#u38961_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:2px;
}
#u38961 {
  position:absolute;
  left:453px;
  top:487px;
  width:374px;
  height:1px;
}
#u38962 {
  position:absolute;
  left:2px;
  top:-8px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38963_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u38963 {
  position:absolute;
  left:614px;
  top:461px;
  width:29px;
  height:20px;
}
#u38964 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u38965_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u38965 {
  position:absolute;
  left:614px;
  top:532px;
  width:29px;
  height:20px;
}
#u38966 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u38967_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:2px;
}
#u38967 {
  position:absolute;
  left:456px;
  top:557px;
  width:374px;
  height:1px;
}
#u38968 {
  position:absolute;
  left:2px;
  top:-8px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38969_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u38969 {
  position:absolute;
  left:600px;
  top:568px;
  width:57px;
  height:20px;
}
#u38970 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u38971_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:2px;
}
#u38971 {
  position:absolute;
  left:453px;
  top:522px;
  width:374px;
  height:1px;
}
#u38972 {
  position:absolute;
  left:2px;
  top:-8px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38973_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u38973 {
  position:absolute;
  left:614px;
  top:500px;
  width:29px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u38974 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u38975_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u38975 {
  position:absolute;
  left:21px;
  top:77px;
  width:12px;
  height:12px;
}
#u38976 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38977_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
#u38977 {
  position:absolute;
  left:44px;
  top:75px;
  width:120px;
  height:14px;
  font-size:12px;
  color:#999999;
}
#u38978 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  white-space:nowrap;
}
#u38979_div {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u38979 {
  position:absolute;
  left:55px;
  top:98px;
  width:183px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u38980 {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  white-space:nowrap;
}
