body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1200px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u80658_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:810px;
  background:inherit;
  background-color:rgba(51, 53, 63, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u80658 {
  position:absolute;
  left:0px;
  top:9px;
  width:71px;
  height:810px;
}
#u80659 {
  position:absolute;
  left:2px;
  top:397px;
  width:67px;
  visibility:hidden;
  word-wrap:break-word;
}
#u80660_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:50px;
}
#u80660 {
  position:absolute;
  left:0px;
  top:9px;
  width:71px;
  height:50px;
}
#u80661 {
  position:absolute;
  left:2px;
  top:17px;
  width:67px;
  visibility:hidden;
  word-wrap:break-word;
}
#u80662_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:10px;
}
#u80662 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:10px;
  color:#333333;
}
#u80663 {
  position:absolute;
  left:2px;
  top:-3px;
  width:67px;
  visibility:hidden;
  word-wrap:break-word;
}
#u80664_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:27px;
}
#u80664 {
  position:absolute;
  left:21px;
  top:505px;
  width:27px;
  height:27px;
}
#u80665 {
  position:absolute;
  left:2px;
  top:6px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u80666_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:27px;
}
#u80666 {
  position:absolute;
  left:21px;
  top:119px;
  width:27px;
  height:27px;
}
#u80667 {
  position:absolute;
  left:2px;
  top:6px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u80668_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:27px;
}
#u80668 {
  position:absolute;
  left:21px;
  top:167px;
  width:27px;
  height:27px;
}
#u80669 {
  position:absolute;
  left:2px;
  top:6px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u80670_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:27px;
}
#u80670 {
  position:absolute;
  left:21px;
  top:357px;
  width:27px;
  height:27px;
}
#u80671 {
  position:absolute;
  left:2px;
  top:6px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u80672_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:27px;
}
#u80672 {
  position:absolute;
  left:21px;
  top:607px;
  width:27px;
  height:27px;
}
#u80673 {
  position:absolute;
  left:2px;
  top:6px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u80674_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:27px;
}
#u80674 {
  position:absolute;
  left:19px;
  top:556px;
  width:27px;
  height:27px;
}
#u80675 {
  position:absolute;
  left:2px;
  top:6px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u80676_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:27px;
}
#u80676 {
  position:absolute;
  left:22px;
  top:70px;
  width:27px;
  height:27px;
}
#u80677 {
  position:absolute;
  left:2px;
  top:6px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u80678_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:27px;
}
#u80678 {
  position:absolute;
  left:20px;
  top:702px;
  width:27px;
  height:27px;
}
#u80679 {
  position:absolute;
  left:2px;
  top:6px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u80680_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:27px;
}
#u80680 {
  position:absolute;
  left:21px;
  top:308px;
  width:27px;
  height:27px;
}
#u80681 {
  position:absolute;
  left:2px;
  top:6px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u80682_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:27px;
}
#u80682 {
  position:absolute;
  left:22px;
  top:214px;
  width:27px;
  height:27px;
}
#u80683 {
  position:absolute;
  left:2px;
  top:6px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u80684_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:27px;
}
#u80684 {
  position:absolute;
  left:21px;
  top:461px;
  width:27px;
  height:27px;
}
#u80685 {
  position:absolute;
  left:2px;
  top:6px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u80686_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:27px;
}
#u80686 {
  position:absolute;
  left:21px;
  top:408px;
  width:27px;
  height:27px;
}
#u80687 {
  position:absolute;
  left:2px;
  top:6px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u80688_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:27px;
}
#u80688 {
  position:absolute;
  left:21px;
  top:260px;
  width:27px;
  height:27px;
}
#u80689 {
  position:absolute;
  left:2px;
  top:6px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u80690_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:27px;
}
#u80690 {
  position:absolute;
  left:22px;
  top:22px;
  width:27px;
  height:27px;
}
#u80691 {
  position:absolute;
  left:2px;
  top:6px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u80692_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:27px;
}
#u80692 {
  position:absolute;
  left:21px;
  top:656px;
  width:27px;
  height:27px;
}
#u80693 {
  position:absolute;
  left:2px;
  top:6px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u80694_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:27px;
}
#u80694 {
  position:absolute;
  left:22px;
  top:750px;
  width:27px;
  height:27px;
}
#u80695 {
  position:absolute;
  left:2px;
  top:6px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u80697_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1015px;
  height:10px;
}
#u80697 {
  position:absolute;
  left:185px;
  top:61px;
  width:1015px;
  height:10px;
  color:#333333;
}
#u80698 {
  position:absolute;
  left:2px;
  top:-3px;
  width:1011px;
  visibility:hidden;
  word-wrap:break-word;
}
#u80699_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1015px;
  height:71px;
  background:inherit;
  background-color:rgba(238, 238, 238, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u80699 {
  position:absolute;
  left:185px;
  top:0px;
  width:1015px;
  height:71px;
}
#u80700 {
  position:absolute;
  left:2px;
  top:28px;
  width:1011px;
  visibility:hidden;
  word-wrap:break-word;
}
#u80701_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1129px;
  height:62px;
  background:inherit;
  background-color:rgba(232, 232, 232, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u80701 {
  position:absolute;
  left:71px;
  top:0px;
  width:1129px;
  height:62px;
}
#u80702 {
  position:absolute;
  left:2px;
  top:23px;
  width:1125px;
  visibility:hidden;
  word-wrap:break-word;
}
#u80703 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u80704_div {
  position:absolute;
  left:0px;
  top:0px;
  width:354px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:0px 1px 3px -2px rgba(0, 0, 0, 0.349019607843137) inset;
  -webkit-box-shadow:0px 1px 3px -2px rgba(0, 0, 0, 0.349019607843137) inset;
  box-shadow:0px 1px 3px -2px rgba(0, 0, 0, 0.349019607843137) inset;
}
#u80704 {
  position:absolute;
  left:328px;
  top:5px;
  width:354px;
  height:25px;
}
#u80704_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:354px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(102, 175, 233, 1);
  border-radius:0px;
  -moz-box-shadow:0px 0px 6px rgba(102, 175, 233, 0.6), 0px 1px 3px -2px rgba(0, 0, 0, 0.349019607843137) inset;
  -webkit-box-shadow:0px 0px 6px rgba(102, 175, 233, 0.6), 0px 1px 3px -2px rgba(0, 0, 0, 0.349019607843137) inset;
  box-shadow:0px 0px 6px rgba(102, 175, 233, 0.6), 0px 1px 3px -2px rgba(0, 0, 0, 0.349019607843137) inset;
}
#u80704.selected {
}
#u80705 {
  position:absolute;
  left:2px;
  top:4px;
  width:350px;
  visibility:hidden;
  word-wrap:break-word;
}
#u80706 {
  position:absolute;
  left:359px;
  top:6px;
  width:311px;
  height:24px;
}
#u80706_input {
  position:absolute;
  left:0px;
  top:0px;
  width:311px;
  height:24px;
  background-color:transparent;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u80706_input {
  font-family:'FontAwesome';
}
#u80707_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u80707 {
  position:absolute;
  left:336px;
  top:8px;
  width:18px;
  height:18px;
}
#u80708 {
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u80709_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:63px;
}
#u80709 {
  position:absolute;
  left:951px;
  top:0px;
  width:180px;
  height:63px;
}
#u80710 {
  position:absolute;
  left:2px;
  top:24px;
  width:176px;
  visibility:hidden;
  word-wrap:break-word;
}
#u80711_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u80711 {
  position:absolute;
  left:821px;
  top:4px;
  width:30px;
  height:30px;
}
#u80712 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u80713_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:33px;
}
#u80713 {
  position:absolute;
  left:877px;
  top:3px;
  width:33px;
  height:33px;
}
#u80714 {
  position:absolute;
  left:2px;
  top:8px;
  width:29px;
  visibility:hidden;
  word-wrap:break-word;
}
#u80715_img {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:35px;
}
#u80715 {
  position:absolute;
  left:71px;
  top:35px;
  width:203px;
  height:35px;
}
#u80716 {
  position:absolute;
  left:2px;
  top:10px;
  width:199px;
  visibility:hidden;
  word-wrap:break-word;
}
#u80717_img {
  position:absolute;
  left:0px;
  top:0px;
  width:929px;
  height:28px;
}
#u80717 {
  position:absolute;
  left:271px;
  top:35px;
  width:929px;
  height:28px;
}
#u80718 {
  position:absolute;
  left:2px;
  top:6px;
  width:925px;
  visibility:hidden;
  word-wrap:break-word;
}
#u80719_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1129px;
  height:10px;
}
#u80719 {
  position:absolute;
  left:71px;
  top:61px;
  width:1129px;
  height:10px;
  color:#333333;
}
#u80720 {
  position:absolute;
  left:2px;
  top:-3px;
  width:1125px;
  visibility:hidden;
  word-wrap:break-word;
}
#u80721_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:44px;
}
#u80721 {
  position:absolute;
  left:1067px;
  top:9px;
  width:44px;
  height:44px;
}
#u80722 {
  position:absolute;
  left:2px;
  top:14px;
  width:40px;
  visibility:hidden;
  word-wrap:break-word;
}
#u80723_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'HiraginoSansGB-W3', '冬青黑体简体中文 W3', '冬青黑体简体中文';
  font-weight:300;
  font-style:normal;
  font-size:14px;
  text-align:right;
}
#u80723 {
  position:absolute;
  left:984px;
  top:10px;
  width:57px;
  height:42px;
  font-family:'HiraginoSansGB-W3', '冬青黑体简体中文 W3', '冬青黑体简体中文';
  font-weight:300;
  font-style:normal;
  font-size:14px;
  text-align:right;
}
#u80724 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u80725_div {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:21px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#00CCCC;
  text-align:left;
}
#u80725 {
  position:absolute;
  left:147px;
  top:41px;
  width:102px;
  height:21px;
  color:#00CCCC;
  text-align:left;
}
#u80726 {
  position:absolute;
  left:2px;
  top:3px;
  width:98px;
  word-wrap:break-word;
}
#u80727_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1129px;
  height:756px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(229, 229, 229, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'HiraginoSansGB-W3', '冬青黑体简体中文 W3', '冬青黑体简体中文';
  font-weight:300;
  font-style:normal;
  text-align:left;
}
#u80727 {
  position:absolute;
  left:71px;
  top:63px;
  width:1129px;
  height:756px;
  font-family:'HiraginoSansGB-W3', '冬青黑体简体中文 W3', '冬青黑体简体中文';
  font-weight:300;
  font-style:normal;
  text-align:left;
}
#u80728 {
  position:absolute;
  left:15px;
  top:15px;
  width:1099px;
  visibility:hidden;
  word-wrap:break-word;
}
#u80729_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1083px;
  height:433px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u80729 {
  position:absolute;
  left:98px;
  top:327px;
  width:1083px;
  height:433px;
}
#u80730 {
  position:absolute;
  left:2px;
  top:208px;
  width:1079px;
  visibility:hidden;
  word-wrap:break-word;
}
#u80731_div {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u80731 {
  position:absolute;
  left:124px;
  top:185px;
  width:190px;
  height:25px;
  font-size:16px;
  text-align:left;
}
#u80732 {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  word-wrap:break-word;
}
#u80731_ann {
  position:absolute;
  left:307px;
  top:181px;
  width:1px;
  height:1px;
}
#u80733_div {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'HiraginoSansGB-W3', 'Hiragino Sans GB W3', 'Hiragino Sans GB';
  font-weight:300;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u80733 {
  position:absolute;
  left:799px;
  top:223px;
  width:190px;
  height:25px;
  font-family:'HiraginoSansGB-W3', 'Hiragino Sans GB W3', 'Hiragino Sans GB';
  font-weight:300;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u80734 {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  word-wrap:break-word;
}
#u80735 {
  position:absolute;
  left:876px;
  top:223px;
  width:189px;
  height:22px;
}
#u80735_input {
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:22px;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u80735_input {
  font-family:'FontAwesome';
}
#u80735_input:disabled {
  color:grayText;
}
#u80736_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1127px;
  height:81px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u80736 {
  position:absolute;
  left:73px;
  top:72px;
  width:1127px;
  height:81px;
}
#u80737 {
  position:absolute;
  left:2px;
  top:32px;
  width:1123px;
  visibility:hidden;
  word-wrap:break-word;
}
#u80738_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u80738 {
  position:absolute;
  left:98px;
  top:95px;
  width:97px;
  height:33px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u80739 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u80740_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1130px;
  height:2px;
}
#u80740 {
  position:absolute;
  left:71px;
  top:308px;
  width:1129px;
  height:1px;
}
#u80741 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1125px;
  visibility:hidden;
  word-wrap:break-word;
}
#u80742_div {
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u80742 {
  position:absolute;
  left:425px;
  top:185px;
  width:248px;
  height:25px;
  font-size:16px;
  text-align:left;
}
#u80743 {
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  word-wrap:break-word;
}
#u80744_div {
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'HiraginoSansGB-W3', 'Hiragino Sans GB W3', 'Hiragino Sans GB';
  font-weight:300;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u80744 {
  position:absolute;
  left:124px;
  top:230px;
  width:265px;
  height:25px;
  font-family:'HiraginoSansGB-W3', 'Hiragino Sans GB W3', 'Hiragino Sans GB';
  font-weight:300;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u80745 {
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  word-wrap:break-word;
}
#u80746_div {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u80746 {
  position:absolute;
  left:801px;
  top:177px;
  width:190px;
  height:25px;
  font-size:16px;
  text-align:left;
}
#u80747 {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  word-wrap:break-word;
}
#u80748_div {
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'HiraginoSansGB-W3', 'Hiragino Sans GB W3', 'Hiragino Sans GB';
  font-weight:300;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u80748 {
  position:absolute;
  left:425px;
  top:227px;
  width:265px;
  height:25px;
  font-family:'HiraginoSansGB-W3', 'Hiragino Sans GB W3', 'Hiragino Sans GB';
  font-weight:300;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u80749 {
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  word-wrap:break-word;
}
#u80750_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
#u80750 {
  position:absolute;
  left:307px;
  top:386px;
  width:120px;
  height:14px;
  font-size:12px;
  color:#999999;
}
#u80751 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  white-space:nowrap;
}
#u80752_div {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u80752 {
  position:absolute;
  left:318px;
  top:409px;
  width:162px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u80753 {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  white-space:nowrap;
}
#u80754_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
#u80754 {
  position:absolute;
  left:307px;
  top:458px;
  width:120px;
  height:14px;
  font-size:12px;
  color:#999999;
}
#u80755 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  white-space:nowrap;
}
#u80756_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:76px;
}
#u80756 {
  position:absolute;
  left:290px;
  top:397px;
  width:1px;
  height:75px;
  color:#666666;
}
#u80757 {
  position:absolute;
  left:2px;
  top:30px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u80758_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u80758 {
  position:absolute;
  left:284px;
  top:388px;
  width:12px;
  height:12px;
}
#u80759 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u80760_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u80760 {
  position:absolute;
  left:284px;
  top:460px;
  width:12px;
  height:12px;
}
#u80761 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u80762_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u80762 {
  position:absolute;
  left:125px;
  top:340px;
  width:65px;
  height:22px;
  font-family:'';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u80763 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
